{% comment %} DYNAMIC SETTINGS {% endcomment %}
{%- assign section_id = section_id -%}
{%- assign block_id = block_id -%}

{%- assign block_title = block_title -%}
{%- assign block_image = block_image -%}
{%- assign block_button-link = block_button-link -%}
{%- assign block_button-text = block_button-text -%}
{%- assign block_article = block_article -%}
{%- assign block_data-id = block_data-id -%}

{%- assign block_shopify-attributes = block_shopify-attributes -%}


{% comment %} STATIC SETTINGS {% endcomment %}
{%- assign media_aspect_ratio = 'adapt' -%}
{%- assign card_style = 'standard' -%}
{%- assign page_width = 1200 -%}
{%- assign show_secondary_image = false -%}




<div class="header_-_block-root resource-block" data-root-element-id="{{ block_data-id }}" {{ block_shopify-attributes }}>
  <h2>{{ block_title }}</h2>

  {%- if block_image and block_image != empty -%}
    {%- liquid
      assign ratio = 1
      if block_image and media_aspect_ratio == 'portrait'
        assign ratio = 0.8
      elsif block_image and media_aspect_ratio == 'adapt'
        assign ratio = block_image.aspect_ratio
      endif
      if ratio == 0 or ratio == null
        assign ratio = 1
      endif
    -%}
  {%- endif -%}



  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card
        card--{{ card_style }}
        {% if block_image %} card--media{% else %} card--text{% endif %}
        {% if card_style == 'card' %} color-{{ 'IDK' }} gradient{% endif %}
        {% if false %} card--extend-height{% endif %}
        {% if block_image == nil and card_style == 'card' %} ratio{% endif %}
        {% if false %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if card_style == 'standard' %}color-{{ 'IDK' }} gradient{% endif %}{% if block_image or card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
            <img
              srcset="
                {%- if block_image.width >= 165 -%}{{ block_image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if block_image.width >= 360 -%}{{ block_image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if block_image.width >= 533 -%}{{ block_image | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if block_image.width >= 720 -%}{{ block_image | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if block_image.width >= 940 -%}{{ block_image | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if block_image.width >= 1066 -%}{{ block_image | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ block_image | image_url }} {{ block_image.width }}w
              "
              src="{{ block_image | image_url: width: 533 }}"
              sizes="(min-width: {{ page_width }}px) {{ page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
              alt="{{ block_image.alt | escape }}"
              class="motion-reduce"
              {% unless lazy_load == false %}
                loading="lazy"
              {% endunless %}
              width="{{ block_image.width }}"
              height="{{ block_image.height }}"
            >
          </div>
        </div>
      </div>
    </div>
  </div>




  <a href="{{ block_button-link }}" {% if block_button-link == request.path %} aria-current="page"{% endif %}>
    <span>{{ block_button-text | escape }}</span>
    <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor"></path>
    </svg>
  </a>
</div>