{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}








<style>
#block-{{ block.id }}.block-root--{{ section.id }}[data-block-type="slider-image-badge"] {
  padding: 0 !important;
  z-index: 10;

  position: absolute;
  z-index: 2;
  top: {{ block.settings.badge_vertical_position }}%;
  left: {{ block.settings.badge_horizontal_position }}%;
  transform: translate(-50%, -50%);
}

#block-{{ block.id }} .slider-image-badge__badge {
  margin: 0;
  width: 100%;
  height: 100%;
}

#block-{{ block.id }} .slider-image-badge__badge img {
  height: auto;
  width: 100%;
  overflow: hidden;
  opacity: {{ block.settings.opacity | times: 0.01 }};
  border-radius: {{ block.settings.border_radius }}%;
  
  aspect-ratio: 1;
  object-fit: cover;
}

#block-{{ block.id }} .slider-image-badge__badge-rotate {
  position: relative;
  transform-origin: center;
  transform: rotate({{ block.settings.angle }}deg);
  width: {{ block.settings.badge_size }}px;
  height: {{ block.settings.badge_size }}px;
  {%- if block.settings.rotation_speed > 0 -%}
  -webkit-animation:spin {{ block.settings.rotation_speed }}s linear infinite;
  -moz-animation:spin {{ block.settings.rotation_speed }}s linear infinite;
  animation:spin {{ block.settings.rotation_speed }}s linear infinite;
  {%- endif -%}
}


@-moz-keyframes slider-image-badge--spin {
  100% { -moz-transform: rotate(360deg); }
}



@-webkit-keyframes slider-image-badge--spin {
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes slider-image-badge--spin {
  100% {
      -webkit-transform: rotate(360deg);
      transform:rotate(360deg);
  }
}

{%- if block.settings.custom_css != blank -%}
  {%- assign custom_block_declarations = block.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_block_declarations -%}
    {%- if declaration contains '{' -%}
      #block-{{ block.id }}.block-root--{{ section.id }}[data-block-type="slider-image-badge"] {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

  
/* Scale badge on mobile */
@media screen and (max-width: 750px) {
  #block-{{ block.id }} .slider-image-badge__badge {
    transform: scale(0.75);
  }
}


/* [id^=QuickAddInfo-] is parent of [custom-slider-component] */
[id^=QuickAddInfo-] #block-{{ block.id }} .slider-image-badge__badge {
  transform: scale(0.75);
}

  
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  {%- if block.settings.hide_on_mobile != blank -%}
    #block-{{ block.id }}.block-root--{{ section.id }}[data-block-type="slider-image-badge"] {
      display: none;
    }
  {%- endif -%}
}

/* Landscape phones and down */
@media (max-width: 480px) {
  {%- if block.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = block.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #block-{{ block.id }}.block-root--{{ section.id }}[data-block-type="slider-image-badge"] {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}

/* Defines how much of the next image to show */
@media screen and (max-width: 749px) {
  .product__media-list .product__media-item {
    width: calc(100% - 33% - var(--grid-mobile-horizontal-spacing));
  }
}
</style>








<div
  id="block-{{ block.id }}"
  class="block-root--{{ section.id }}"
  data-block-type="slider-image-badge"
  {{ block.settings.custom_block_attributes }}
  {{ block.shopify_attributes }}
>
  <div class="slider-image-badge__badge-rotate">
    <div class="slider-image-badge__badge">
      {%- if block.settings.image != blank -%}
        {%- capture sizes -%}
          {{ block.settings.badge_size }}px
        {%- endcapture -%}
        {{ block.settings.image | image_url: width: 1000 | image_tag: loading: 'lazy', widths: widths, sizes: sizes }}
      {%- else -%}
        <img src="https://cdn.shopify.com/s/files/1/2609/5282/files/Two_Pillars_Logo_with_leaf_-_inside_blue_circle_white_letters_f489ef6e-cd99-4e76-8f9f-3242d2dfb486.png?v=1666841537"
            alt=""
            loading="lazy"
            width="800"
            height="800">
      {%- endif -%}
    </div>
  </div>
</div>
