{%- comment -%}
  <CUSTOM>

  What does it do:
  Renders selector logic for targeting file declarations to specific templates and specific positions within the theme.liquid file.

  Where is it referenced:
  Layout/theme.liquid

  Accepts:
  - controller_type: {String} that determines the template-case controller logic to be used based on a specific position, within the theme.liquid file, where we want to render our file declarations for each template.
  - test: {Boolean} for determening whether or not to provide the theme with <sticky-header> styles used to visually verify that a specific template is being targeted.

  Usage:
  {%- render '_custom_-_style-controller', controller_type: 'style', test?: true -%}
  If desired, test can be defined within this file itself by manually assigning the test variable.
{%- endcomment -%}








{%- assign test = false -%}

{%- if test -%}
{%- style -%}
  sticky-header.header-wrapper {
  /*--------*/


  {%- case template -%}
  {%- when 'index' -%} /* Home Page */
    background: cyan;
    
  {%- when 'product' -%} /* Default Product Template */
      background: magenta;
    
  {%- when 'product._custom_-_test' -%} /* Custom Product Template */
    background: #781e77;
    
  {%- else -%} /* Everything Else */
    background: yellow;
    
    {%- if template contains 'product' -%} /* All Other Product Pages */
      background: #ffa5ff;

    {%- elsif template contains 'recipe' -%} /* All Recipe Pages */
      background: #000;
    
    {%- endif -%}
  {%- endcase -%}

  /*--------*/
  }
{%- endstyle -%}
{%- endif -%}








{%- case controller_type -%}
  {%- comment -%}
    style: {{ '_custom_-_global.css' | asset_url | stylesheet_tag }}
    script: {{ '_custom_-_global.js' | asset_url | script_tag }}
  {%- endcomment -%}



  
{%- when 'style' -%} {%- comment -%} Style Controller {%- endcomment -%}
  {{ 'c4m_-_global.css' | asset_url | stylesheet_tag }}
  {{ 'c4m_-_design-pack.css' | asset_url | stylesheet_tag }}
  
  {{ 'c4m-group_-_header-group.css' | asset_url | stylesheet_tag }}
  {{ 'c4m-group_-_footer-group.css' | asset_url | stylesheet_tag }}
  
  {{ 'c4m-app-block_-_kaching.css' | asset_url | stylesheet_tag }}
  {{ 'c4m-block_-_product-rating.css' | asset_url | stylesheet_tag }}
  {{ 'c4m-component_-_media-slider.css' | asset_url | stylesheet_tag }}

  
  {%- case template -%}
  {%- when 'index' -%} {%- comment -%} Home Page {%- endcomment -%}
    {{ 'c4m-group_-_index.css' | asset_url | stylesheet_tag }}
    
  {%- when 'product' -%} {%- comment -%} Default Product Template {%- endcomment -%}
  
  {%- when 'product._custom_-_test' -%} {%- comment -%} Custom Product Template {%- endcomment -%}

  {%- when 'product.DuoCover-template' -%} {%- comment -%} DuoCover Template {%- endcomment -%}
    {{ 'c4m-group_-_DuoCover-template.css' | asset_url | stylesheet_tag }}

  {%- when 'product.zipbag-template' -%} {%- comment -%} DuoCover Template {%- endcomment -%}
    {{ 'tmp_-_fallback-product-template.css' | asset_url | stylesheet_tag }}
    {{ 'tmp_-_custom-product-page.css' | asset_url | stylesheet_tag }}
    {{ 'tmp_-_custom.css' | asset_url | stylesheet_tag }}
    {{ 'tmp_-_custom-home.css' | asset_url | stylesheet_tag }}
    <script
      src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
      integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw="
      crossorigin="anonymous"
    ></script>

  {%- else -%} {%- comment -%} Template - Everything Else {%- endcomment -%}
    
    {%- if template contains 'product' -%} {%- comment -%} All Other Product Pages {%- endcomment -%}

    {%- elsif template contains 'recipe' -%} {%- comment -%} All Recipe Pages {%- endcomment -%}
      {{ 'tmp_-_recipe.css' | asset_url | stylesheet_tag }}
      
    {%- endif -%}
  {%- endcase -%}




{%- when 'head-top' -%} {%- comment -%} <head>|afterbegin {%- endcomment -%}
  <script type="text/javascript" async="" src="{{ 'c4m_-_design-pack.js' | asset_url}}"></script>
  
  <script type="text/javascript" src="{{ 'c4m-block_-_faq-item.js' | asset_url }}"></script>
  
  <script src="{{ 'c4m-component_-_media-slider.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'c4m-component_-_banner--carousel-columns.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'c4m-component_-_complementary-products.js' | asset_url }}" defer="defer"></script>
  
  
  
  
  {%- case template -%}
  {%- when 'index' -%} {%- comment -%} Home Page {%- endcomment -%}
    
  {%- when 'product' -%} {%- comment -%} Default Product Template {%- endcomment -%}
  
  {%- when 'product._custom_-_test' -%} {%- comment -%} Custom Product Template {%- endcomment -%}
    
  {%- else -%} {%- comment -%} Template - Everything Else {%- endcomment -%}
    
    {%- if template contains 'product' -%} {%- comment -%} All Other Product Pages {%- endcomment -%}
      
    {%- endif -%}
  {%- endcase -%}



  
{%- when 'head-bottom' -%} {%- comment -%} beforeend|</head> {%- endcomment -%}
  
  {%- case template -%}
  {%- when 'index' -%} {%- comment -%} Home Page {%- endcomment -%}
    
  {%- when 'product' -%} {%- comment -%} Default Product Template {%- endcomment -%}
  
  {%- when 'product._custom_-_test' -%} {%- comment -%} Custom Product Template {%- endcomment -%}
    
  {%- else -%} {%- comment -%} Template - Everything Else {%- endcomment -%}
    
    {%- if template contains 'product' -%} {%- comment -%} All Other Product Pages {%- endcomment -%}
      
    {%- endif -%}
  {%- endcase -%}




{%- when 'body-bottom' -%} {%- comment -%} beforeend|</body> {%- endcomment -%}
  
  {%- case template -%}
  {%- when 'index' -%} {%- comment -%} Home Page {%- endcomment -%}
    
  {%- when 'product' -%} {%- comment -%} Default Product Template {%- endcomment -%}
  
  {%- when 'product._custom_-_test' -%} {%- comment -%} Custom Product Template {%- endcomment -%}
    
  {%- else -%} {%- comment -%} Template - Everything Else {%- endcomment -%}
    
    {%- if template contains 'product' -%} {%- comment -%} All Other Product Pages {%- endcomment -%}
      <script src="{{ 'c4m-template_-_product.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'c4m_-_global.js' | asset_url }}" defer="defer"></script>
    {%- endif -%}
  {%- endcase -%}

{%- else -%} {%- comment -%} Controller - Everything Else {%- endcomment -%}

{%- endcase -%}
