<div class="model_variats-wrapp">
  <form action="/cart/add">
    <div class="model_variats-left">
        <div class="model_variats_option-wrapp model_variats_option-wrapp-model">
          <h5>Variations</h5>
		
          <label class="desktop model_variats-radio">
            <input type="radio" checked name="name_option" data-available="{{product_dimensions1.available}}" value="{{product_dimensions1.variants.first.id }}">
            <span></span>
            {{product_dimensions1.title}}
          </label>
          <label class="desktop model_variats-radio">
            <input type="radio" name="name_option" data-available="{{product_dimensions2.available}}" value="{{product_dimensions2.variants.first.id }}">
            <span></span>
            {{product_dimensions2.title}}
          </label>
          <label class="desktop model_variats-radio">
            <input type="radio" name="name_option" data-available="{{product_dimensions3.available}}" value="{{product_dimensions3.variants.first.id}}">
            <span></span>
            {{product_dimensions3.title}}
          </label>
          
          <div class="model_variats_select-wrapp">
            <select class="model_variats-radio checked mobile-block model_variats-select" name="name_option">
              <option data-available="{{product_dimensions1.available}}" value="{{product_dimensions1.variants.first.id }}">{{product_dimensions1.title}}</option>          	
              <option data-available="{{product_dimensions2.available}}" value="{{product_dimensions2.variants.first.id }}">{{product_dimensions2.title}}</option>
              <option data-available="{{product_dimensions3.available}}" value="{{product_dimensions3.variants.first.id }}">{{product_dimensions3.title}}</option>
            </select>
          </div>
        </div>

        <div class="model_variats_option-wrapp model_variats_option-wrapp-variats" data-modelAcive="">
          <h5 class="model_variats-titleh5" >Colors</h5>
          {% if product_dimensions1.variants.size > 1 %}
              <div class="model_variats_option-item desktop active" data-optvar="{{product_dimensions1.variants.first.id}}">
              {% for v in product_dimensions1.variants %}
                    <label class="model_variats-radio">
                      <input type="radio" {%if forloop.first%}checked{%endif%} data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" name="name_option-{{product_dimensions1.id}}" value="{{v.id}}">
                      <span></span>
                      {{v.title}}
                    </label>
              {% endfor %}
              </div>
              <div class="model_variats_select-wrapp model_variats_option-item mobile-block active" data-optvar="{{product_dimensions1.variants.first.id}}">
                <select class="model_variats_select-wrapp model_variats-radio model_variats-select checked mobile-block" name="name_option">
                {% for v in product_dimensions1.variants %}
                    <option name="name_option-{{product_dimensions1.id}}" data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" value="{{v.id}}">{{v.title}}</option>
                  	<span class="pointer"></span>
          <script>console.log({{ v | json }});</script>
                {% endfor %}
                </select>
              </div>
          {% endif %}

          {% if product_dimensions2.variants.size > 1 %}
              <div class="model_variats_option-item desktop" data-optvar="{{product_dimensions2.variants.first.id}}">
              {% for v in product_dimensions2.variants %}
                    <label class="model_variats-radio">
                      <input type="radio" {%if forloop.first%}checked{%endif%} data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" name="name_option-{{product_dimensions2.id}}" value="{{v.id}}">
                      <span></span>
                      {{v.title}}
                    </label>
              {% endfor %}
              </div>
              <div class="model_variats_select-wrapp model_variats_option-item mobile-block" data-optvar="{{product_dimensions2.variants.first.id}}">
                <select class="model_variats-radio model_variats-select checked mobile-block" name="name_option">
                {% for v in product_dimensions2.variants %}
                    <option name="name_option-{{product_dimensions2.id}}" data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" value="{{v.id}}">{{v.title}}</option>
                  	<span class="pointer"></span>
          <script>console.log({{ v | json }});</script>
                {% endfor %}
                </select>
              </div>
          {% endif %}

          {% if product_dimensions3.variants.size >= 1 %}
              <div class="model_variats_option-item desktop" data-optvar="{{product_dimensions3.variants.first.id}}">
              {% for v in product_dimensions3.variants %}
                    <label class="model_variats-radio">
                      <input type="radio" {%if forloop.first%}checked{%endif%} data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" name="name_option-{{product_dimensions3.id}}" value="{{v.id}}">
                      <span></span>
                      {{v.title}}
                    </label>
              {% endfor %}
              </div>
              <div class="model_variats_select-wrapp model_variats_option-item mobile-block" data-optvar="{{product_dimensions3.variants.first.id}}">
                <select class="model_variats-radio model_variats-select checked mobile-block" name="name_option">
                {% for v in product_dimensions3.variants %}
                    <option name="name_option-{{product_dimensions3.id}}" data-price="{{v.price | money}}" data-available="{{ v.inventory_quantity }}" value="{{v.id}}">{{v.title}}</option>
            		<span class="pointer"></span>
                  
          <script>console.log({{ v | json }});</script>
                {% endfor %}
                </select>
              </div>
          {% endif %}
        </div>
        <input type="hidden" name="id" id="model_variats-idhide" value="{{product_dimensions1.id}}">
     		<button class="disabled green__btn_cart cart_btn_disabled desktop">out of stock</button>
      	<button {% if product_dimensions1.available == false %}style="display: none;"{% endif %}  class="green__btn_cart cart_btn ajax-submit desktop dgree__btn_cart_availabel" type="submit"><i><img src="{{ 'cart_white_s.svg' | asset_url }}"></i>add to cart — <span class="green__btn_cart-money"></span></button>
    </div>
    <div class="model_variats-right model_variats-left">

      {% if product_dimensions1.variants.size > 1 %}
          {% for v in product_dimensions1.variants %}
              <img {% if forloop.first %}class="active"{%endif%} data-idimg="{{v.id}}" src="{{ v.featured_media | product_img_url: 'master'}}">
          {% endfor %}
      {% else %}
          <img class="active" data-idimg="{{ product_dimensions1.variants.first.id}}" src="{{ product_dimensions1.featured_media | product_img_url: 'master'}}">
      {% endif %}
      {% if product_dimensions2.variants.size > 1 %}
          {% for v in product_dimensions2.variants %}
              <img data-idimg="{{v.id}}" src="{{ v.featured_media | product_img_url: 'master'}}">
          {% endfor %}
      {% else %}
          <img data-idimg="{{ product_dimensions2.variants.first.id}}" src="{{ product_dimensions2.featured_media | product_img_url: 'master'}}">
      {% endif %}
      {% if product_dimensions3.variants.size > 1 %}
          {% for v in product_dimensions3.variants %}
              <img data-idimg="{{v.id}}" src="{{ v.featured_media | product_img_url: 'master'}}">
          {% endfor %}
      {% else %}
          <img data-idimg="{{ product_dimensions3.variants.first.id}}"  src="{{ product_dimensions3.featured_media | product_img_url: 'master'}}">
      {% endif %}
     <button class="disabled green__btn_cart cart_btn_disabled" style="display: none;">out of stock</button>
      <button class="green__btn_cart ajax-submit mobile-flex gree__btn_cart_availabel" type="submit"><i><img src="{{ 'cart_white_s.svg' | asset_url }}"></i>add to cart — <span class="green__btn_cart-money"></span></button>

    </div>
  </form>
</div>