<style>
  #shopify-product-reviews {
    margin: 0 auto;
    {%- if product.metafields.reviews.rating_count < 30 -%}
      display: none;
    {%- endif -%}
  }
  .section-root--{{ section.id }} h3 {
    color: rgba(var(--color-foreground),.75);
  }
  .section-root--{{ section.id }} strong {
    color: rgba(var(--color-foreground),.50);
  }

  .section-root--{{ section.id }} li,
  .section-root--{{ section.id }} p,
  .section-root--{{ section.id }} span,
  .section-root--{{ section.id }} a {
    color: rgba(var(--color-foreground));
    text-decoration: none;
  }
/*   .section-root--{{ section.id }} .spr-summary-actions {
    display: none;
  } */
</style>



<div
  id="shopify-product-reviews"
  data-id="{{ product.id }}"

  class="section-root--{{ section.id }} page-width"
  {{ section.settings.custom_section_attributes }}
  >
  {{ product.metafields.spr.reviews }}
</div>





{% schema %}
{
  "name": "⚒️ Product Reviews",
  "settings": [
    {
      "type": "textarea",
      "id": "custom_section_attributes",
      "label": "Custom Section Attributes",
      "info": "Use this field to declare custom attributes (e.g., data-<key>=\"<value>\") for the section's root element."
    }
  ],
  "presets": [
    {
      "name": "⚒️ Product Reviews"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
