<style>
  .section-root--{{ section.id }} h1 {
    text-align: center;
  }
  .section-root--{{ section.id }} .accordion-item {
    padding: 12px!important;
    transition: all .4s;
    margin-bottom: 16px;
    border: 1px solid #2E3054;
    border-radius: 6px;
  }
  .section-root--{{ section.id }} [id^=accordion-button-] {
    margin: 0;
    cursor: pointer;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 0 32px 0 0;
    text-align: left;
    width: 100%;
    border: none;
    background: none;
    outline: none;

    position: relative;
    min-height: 3rem;
    font-family: var(--font-heading-family);
    font-size: 1.75rem;
  }

  .section-root--{{ section.id }} .accordion button[aria-expanded=true] .icon {
    background: #77D3AF;
}
.section-root--{{ section.id }} .accordion button[aria-expanded=true] .icon:before {
    background: #fff;
}
  .section-root--{{ section.id }} .accordion button[aria-expanded=true] .icon:after {
    width: 0;
}




  
.section-root--{{ section.id }} .accordion-title {
}
  
.section-root--{{ section.id }} .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    background: #F4F4F4;
    border-radius: 50%;
    transition: all .4s;
}
  .section-root--{{ section.id }} .accordion button .icon:before {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    margin-left: -7px;
    width: 12px;
    height: 2px;
    background: #000;
}
  .section-root--{{ section.id }} .accordion button .icon:after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: 50%;
    margin-left: -1px;
    width: 2px;
    height: 11px;
    background: #000;
}




  
  .section-root--{{ section.id }} .accordion-content {
    text-size-adjust: 100%;
/*     font-style: normal; */
    text-transform: none;
    color: #2e3054;
    line-height: 1.6em;
/*     font-family: 'AvertaCY'; */
/*     font-weight: normal; */
/*     font-size: 15px; */
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    padding: 0!important;
    transition: all .2s linear!important;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    will-change: opacity,max-height;
  }






.section-root--{{ section.id }} .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity .2s linear,max-height .2s linear;
    will-change: opacity,max-height;
    padding-right: 168px;
}
  
@media only screen and (max-width: 1024px) {
  .section-root--{{ section.id }} .accordion-item .accordion-content {
    padding: 0!important;
    transition: all .2s linear!important;
  }
}
  
.section-root--{{ section.id }} .accordion button[aria-expanded=true]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all .2s linear;
    will-change: opacity,max-height;
    overflow-y: auto;
}
@media only screen and (max-width: 1024px) {
  .section-root--{{ section.id }} .accordion button[aria-expanded=true]+.accordion-content {
    margin-top: 8px!important;
  }
}



/* Fix accordion title on iOS Safari */
.accordion button span.accordion-title {
  color: #303030 !important;
}
</style>




<div
  class="section-root--{{ section.id }} page-width"
  {{ section.settings.custom_section_attributes }}
>
  <h1>{{ section.settings.title }}</h1>
  
   <div class="accordion "> 
      {%- for block in section.blocks -%}
        <div
          id="block-{{ block.id }}"
          class="block-root--{{ section.id }} accordion-item"
          data-block-type="faq-item"
          {{ block.settings.custom_block_attributes }}
          {{ block.shopify_attributes }}
        
          aria-open="false"
        >
          <button id="accordion-button-{{forloop.index}}" aria-expanded="false"><span class="accordion-title">{{ block.settings.title }} </span><span class="icon" aria-hidden="true"></span></button>
          <div class="accordion-content">
          {{ block.settings.content }}
          </div>
        </div>
      {%- endfor -%}
  </div>
</div>




{% schema %}
  {
    "name": "⚒️ FAQ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "custom_section_attributes",
        "label": "Custom Section Attributes",
        "info": "Use this field to declare custom attributes (e.g., data-<key>=\"<value>\") for the section's root element."
      }
    ],
    "blocks": [
      {
        "type": "faq_item",
        "name": "FAQ Item",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Block Name (optional)"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "textarea",
            "id": "custom_block_attributes",
            "label": "Custom Block Attributes",
            "info": "Use this field to declare custom attributes (e.g., data-<key>=\"<value>\") for the block's root element."
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "⚒️ FAQ"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}