{%- comment -%}
{
  "pack_name": "Slideshow - simple",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{% comment %} Images: responsive image widths {% endcomment %}
{%- assign widths = '180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 1950, 2100, 2260, 2450, 2700, 3000, 3350, 3750, 4100' -%}

{%- comment -%} Layout: has user entered measurement value into max-width field? {%- endcomment -%}
{%- if section.settings.max_width contains 'px' or section.settings.max_width contains '%' -%}
  {%- assign max_width = section.settings.max_width -%}
{%- else -%}
  {%- assign max_width = section.settings.max_width | append: 'px' -%}
{%- endif -%}

{%- comment -%} Text: custom font_picker values {%- endcomment -%}
{%- capture font_settings_list -%}
{{ section.settings.main_font | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.main_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }}~
{{ section.settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
{%- endcapture -%}
{%- assign font_array = font_settings_list | split: '~' -%}

{%- comment -%} Text: scale sizes {%- endcomment -%}
{%- capture text_scale -%}
{%- if section.settings.text_size > 150 -%}
  0.005
{%- elsif section.settings.text_size > 140 -%}
  0.006
{%- elsif section.settings.text_size > 130 -%}
  0.007
{%- elsif section.settings.text_size > 120 -%}
  0.008
{%- elsif section.settings.text_size > 100 -%}
  0.009
{%- else -%}
  0.01
{%- endif -%}
{%- endcapture -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled{position:relative}.flickity-enabled:focus{outline:0;box-shadow: none;}.flickity-viewport{overflow:hidden;position:relative;height:100%}.flickity-slider{position:absolute;width:100%;height:100%}.flickity-enabled.is-draggable{-webkit-tap-highlight-color:transparent;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.flickity-enabled.is-draggable 
.flickity-viewport{cursor:move;cursor:-webkit-grab;cursor:grab}.flickity-enabled.is-draggable 
.flickity-viewport.is-pointer-down{cursor:-webkit-grabbing;cursor:grabbing}.flickity-button{position:absolute;background:hsla(0,0%,100%,.75);border:none;color:#333}.flickity-button:hover{background:#fff;cursor:pointer}.flickity-button:focus{outline:0;box-shadow:0 0 0 5px #19f}.flickity-button:active{opacity:.6}.flickity-button:disabled{opacity:.3;cursor:auto;pointer-events:none}.flickity-button-icon{fill:currentColor}.flickity-prev-next-button{top:50%;width:44px;height:44px;border-radius:50%;transform:translateY(-50%)}.flickity-prev-next-button.previous{left:10px}.flickity-prev-next-button.next{right:10px}.flickity-rtl 
.flickity-prev-next-button.previous{left:auto;right:10px}.flickity-rtl 
.flickity-prev-next-button.next{right:auto;left:10px}.flickity-prev-next-button 
.flickity-button-icon{position:absolute;left:20%;top:20%;width:60%;height:60%}.flickity-page-dots{position:absolute;width:100%;bottom:-25px;padding:0;margin:0;list-style:none;text-align:center;line-height:1}.flickity-rtl 
.flickity-page-dots{direction:rtl}
/* .flickity-page-dots.dot{display:inline-block;width:10px;height:10px;margin:0 8px;background:#333;border-radius:50%;opacity:.25;cursor:pointer}
.flickity-page-dots.dot.is-selected{opacity:1} */

{%- if section.settings.override_theme_font != blank -%}
  {%- for font in font_array -%}
    {%- unless font contains 'error' -%}{{ font }}{%- endunless -%}
  {%- endfor -%}
  #DP--{{ section.id }} {
    --main-font: {{ section.settings.main_font.family }}, {{ section.settings.main_font.fallback_families }};
    --main-font-weight: {{ section.settings.main_font.weight }};
    --main-font-style: {{ section.settings.main_font.style }};
    --heading-font: {{ section.settings.heading_font.family }}, {{ section.settings.heading_font.fallback_families }};
    --heading-font-weight: {{ section.settings.heading_font.weight }};
    --heading-font-style: {{ section.settings.heading_font.style }};
  }
{%- endif -%}

#DP--{{ section.id }} {
  --slideshow-color: #FFFFFF;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: {{ max_width }};
  margin-top: {{ section.settings.outer_margin_top }}px;
  margin-bottom: {{ section.settings.outer_margin_bottom }}px;
}

#DP--{{ section.id }} .dsgn-pck__sizer {
  width: 85%;
}

#DP--{{ section.id }} .dsgn-pck__background {
  width: 100%;
}

#DP--{{ section.id }} .dsgn-pck__slide picture::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#DP--{{ section.id }} .dsgn-pck__slide {
  width: 100%;
}

#DP--{{ section.id }} .dsgn-pck__grid {
  height: 100%;
}

#DP--{{ section.id }} .dsgn-pck__content {
  z-index: 2;
  height: 100%;
  grid-template-columns: 1fr;
  grid-area: 1 / 1 / 2 / 2;
  padding: 5% 0;
}

#DP--{{ section.id }} .dsgn-pck__inner-content {
  z-index: 2;
  width: 100%;
}

#DP--{{ section.id }} .dsgn-pck__small-text {
  margin-top: 0;
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.008 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__heading {
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-heading-size, var(--dp-heading-size, 35px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__text p {
  color: {{ section.settings.text_color }};
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

#DP--{{ section.id }} .dsgn-pck__button {
  margin-top: 1.2em;
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1.2em;
  border: thin solid;
  transition: all 0.3s;
  border-radius: {{ section.settings.button_radius }}px;
  line-height: calc(3px + 2ex + 3px);
  font-size: calc(var(--dp-g-body-size, var(--dp-body-size, 18px)) * {{ section.settings.text_size | times: 0.01 }});
  {%- if section.settings.override_theme_font != blank -%}
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-style);
  {%- endif -%}
}

/* Slideshow styles */

#DP--{{ section.id }} .flickity-page-dots {
  bottom: 10px;
}

#DP--{{ section.id }} .flickity-page-dots .dot {
  background: var(--slideshow-color);
  transition: all 0.3s ease-in-out;
}

#DP--{{ section.id }} .flickity-button {
  background: transparent;
  color: var(--slideshow-color);
  transition: all 0.3s ease-in-out;
}

{%- if section.settings.slider_animation == 'fade' -%}
  .flickity-enabled.is-fade .flickity-slider > * {
    pointer-events: none;
    z-index: 0;
  }

  .flickity-enabled.is-fade .flickity-slider > .is-selected {
    pointer-events: auto;
    z-index: 1;
  }
{%- endif -%}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  #DP--{{ section.id }} .flickity-prev-next-button.previous {
    left: 5px;
  }

  #DP--{{ section.id }} .flickity-prev-next-button.next {
    right: 5px;
  }

  #DP--{{ section.id }} .flickity-button-icon {
    width: 40%;
    height: 40%;
    left: 0;
  }

  #DP--{{ section.id }} .next .flickity-button-icon {
    left: auto;
    right: 0;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  #DP--{{ section.id }} .dsgn-pck__inner-content {
    min-width: 100%;
  }

  #DP--{{ section.id }} {
    margin-top: {{ section.settings.outer_margin_top | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.outer_margin_bottom | divided_by: 2 }}px;
  }

  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}

/* Custom Styles */
#DP--{{ section.id }} .dsgn-pck__slide {
  width: 75%;
}
.dsgn-pck__image__wrapper {
  border-right: 2px solid black;
}

#DP--{{ section.id }} .flickity-page-dots {
  left: 0px;
  width: fit-content;
  bottom: 16px;
}
  
#DP--{{ section.id }} .flickity-page-dots .dot{
  display:inline-block;
  width:12px;
  height:12px;
  margin:0 8px;
  border: 2px solid white;
  background: transparent;
  border-radius:50%;
  opacity:.5;
  cursor:pointer;
  mix-blend-mode: difference;
}
#DP--{{ section.id }} .flickity-page-dots .dot.is-selected {
  opacity:1;
  background: white;
}
  
.flickity-button.flickity-prev-next-button {
/*   display: none; */
}

@media (min-width: 767px) {
  #DP--{{ section.id }} {
    display:none;
  }
}
</style>

{% assign variant_image_list = product.images | map: 'src' %}

{%- comment -%} HTML {%- endcomment -%}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__slideshow dsgn-pck__section">
  
  {%- for block in section.blocks -%}
  <div id="DP--{{ block.id }}" class="DP--{{ block.id }} dsgn-pck__text-badge dsgn-pck__section" data-section-type="dsgn-pck__text-badge" {{ block.shopify_attributes }}>
    <div class="dsgn-pck__sizer dsgn-pck__sizer--badge">
      <div class="dsgn-pck__badge-position">
        <div class="dsgn-pck__badge-rotate">
          <svg class="dsgn-pck__badge" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200">
            <defs>
                <path id="badge-upper-{{ block.id }}" d="M49.78,80c0-27.74,22.49-50.22,50.22-50.22s50.22,22.49,70.22,50.22"/>
            </defs>
            <text class="dsgn-pck__badge__upper-text">
                <textPath xlink:href="#badge-upper-{{ block.id }}" startOffset="50%" text-anchor="middle">
                  {{ block.settings.upper_text }}
                </textPath>
            </text>
            <defs>
              <path id="badge-lower-{{ block.id }}" d="M33.26,120c0,36.86,15.00,66.74,66.74,66.74s66.74-29.88,66.74-66.74"/>
            </defs>
            <text class="dsgn-pck__badge__lower-text">
                <textPath xlink:href="#badge-lower-{{ block.id }}" startOffset="50%" text-anchor="middle">
                  {{ block.settings.lower_text }}
                </textPath>
            </text>
          </svg>
          <div class="dsgn-pck__badge__center-text">
            {{ block.settings.center_text }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
  #DP--{{ block.id }} {
    height: 0 !important;
    padding: 0 !important;
    z-index: 10;
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge {
    display: flex;
    width: {{ block.settings.badge_size }}px;
    height: {{ block.settings.badge_size }}px;
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge-position {
    position: absolute;
    z-index: 2;
    top: 0;
    transform: translateX(-50%) translateY({{ block.settings.badge_vertical_position | times: -1 }}%);
    left: {{ block.settings.badge_horizontal_position }}%;
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge-rotate {
    position: relative;
    transform-origin: center;
    transform: rotate({{ block.settings.angle }}deg);
    {%- if block.settings.rotation_speed > 0 -%}
    -webkit-animation:spin {{ block.settings.rotation_speed }}s linear infinite;
    -moz-animation:spin {{ block.settings.rotation_speed }}s linear infinite;
    animation:spin {{ block.settings.rotation_speed }}s linear infinite;
    {%- endif -%}
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge__upper-text,
  #DP--{{ block.id }} .dsgn-pck__badge__lower-text {
/*     font-size: {{ font_size }}px; */
        font-size: {{ block.settings.badge_size | divided_by: 3 }}px;
    fill: {{ block.settings.text_color }};
    font-family: {{ block.settings.outer_font.family }}, {{ block.settings.outer_font.fallback_families }};
    {%- if block.settings.show_text_shadow != blank -%}
      text-shadow: 1px 1px 10px #847d7da8;
    {%- endif -%}
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge__lower-text {
    letter-spacing: 4px;
  }
  
  #DP--{{ block.id }} .dsgn-pck__badge__center-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: {{ block.settings.text_color }};
    font-family: {{ block.settings.center_font.family }}, {{ block.settings.center_font.fallback_families }};
    font-size: {{ block.settings.badge_size | divided_by: 4 }}px;
    {%- if block.settings.show_text_shadow != blank -%}
      text-shadow: 1px 1px 10px #847d7da8;
    {%- endif -%}
  }
  
  #DP--{{ block.id }} .dsgn-pck__sizer {
    position: relative;
    width: calc(100% - {{ block.settings.badge_size }}px);
  }
  
  @-moz-keyframes spin {
    100% { -moz-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform:rotate(360deg);
    }
  }
  
  {%- if block.settings.custom_css != blank -%}
    {%- assign custom_section_declarations = block.settings.custom_css | split: '}' -%}
    {%- for declaration in custom_section_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ block.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
  
  
  
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    {%- if block.settings.hide_on_mobile != blank -%}
      #DP--{{ block.id }} {
        display: none;
      }
    {%- endif -%}
  }
  
  /* Landscape phones and down */
  @media (max-width: 480px) {
    {%- if block.settings.mobile_custom_css != blank -%}
      {%- assign mobile_custom_declarations = block.settings.mobile_custom_css | split: '}' -%}
      {%- for declaration in mobile_custom_declarations -%}
        {%- if declaration contains '{' -%}
          #DP--{{ block.id }} {{ declaration }} }
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  }


  [id^=DP--] {
    letter-spacing: -1px;
  }
  </style>
  {%- endfor -%}
  
  <div id="slideshow-{{ section.id }}">
      {%- for variant_image in variant_image_list -%}

        {%- comment -%} Images: check image crop aspect ratio {%- endcomment -%}
        {%- if section.settings.image_crop != 'none' -%}
          {%- assign image_crop_width = section.settings.image_crop | split: ':' | first | times: 1000 -%}
          {%- assign image_crop_height = section.settings.image_crop | split: ':' | last | times: 1000 -%}
        {%- endif -%}

        {%- assign mobile_image_crop_width = block.settings.mobile_background_image.width | default: image_crop_width -%}
        {%- assign mobile_image_crop_height = block.settings.mobile_background_image.height | default: image_crop_height -%}

        <div id="DP--slide-{{ forloop.index }}" class="dsgn-pck__slide dsgn-pck__background" data-slideshow-index="{{ forloop.index0 }}">
          {%- if section.settings.link != blank and section.settings.button_label == blank -%}
            <a class="dsgn-pck__absolute-link" href="{{ section.settings.link }}">{{ section.settings.link.title }}</a>
          {% endif %}
          <style>
            #DP--slide-{{ forloop.index }} .dsgn-pck__image__wrapper img {
              object-position: {{ block.settings.focal_point }};
            }

            #DP--slide-{{ forloop.index }} picture::after {
              background: {{ background_color }};
            }

          </style>
          <div class="dsgn-pck__image__wrapper">
            <svg class="dsgn-pck__mobile--hidden" viewBox="0 0 {{ image_crop_width }} {{ image_crop_height }}"></svg>
            <svg class="dsgn-pck__mobile--visible dsgn-pck__desktop--hidden" viewBox="0 0 {{ mobile_image_crop_width }} {{ mobile_image_crop_height }}"></svg>
            <picture>
            {%- if variant_image != blank -%}
              {%- if block.settings.mobile_background_image != blank -%}
                <source media="(max-width: 480px)" srcset="{{ block.settings.mobile_background_image | image_url: width: 960 }}">
              {%- endif -%}
                {{ variant_image | image_url: width: 5000 | image_tag: loading: 'lazy', widths: widths, sizes: '100vw' }}
            {%- endif -%}
            </picture>
          </div>
        </div>
      {%- endfor -%}
  </div>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% schema %}
{
  "name": "Slideshow - simple",
  "class": "DP__slideshow-simple",
  "blocks": [
    {
      "type": "text_badge",
      "name": "Text Badge",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "upper_text",
          "label": "Upper text",
          "default": "All Natural"
        },
        {
          "type": "text",
          "id": "lower_text",
          "label": "Lower text",
          "default": "Est. in 2020"
        },
        {
          "type": "font_picker",
          "id": "outer_font",
          "label": "Outer font",
          "default": "sans-serif"
        },
        {
          "type": "text",
          "id": "center_text",
          "label": "Center text",
          "default": "All Design Packs"
        },
        {
          "type": "font_picker",
          "id": "center_font",
          "label": "Center font",
          "default": "cooper_bt_n5"
        },
        {
          "type": "header",
          "content": "🎨 Design"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text",
          "default": "#FFFFFF"
        },
        {
          "type": "checkbox",
          "id": "show_text_shadow",
          "label": "Show text shadow",
          "default": true
        },
        {
          "type": "header",
          "content": "📱 Mobile"
        },
        {
          "type": "checkbox",
          "id": "hide_on_mobile",
          "label": "Hide on smaller screens",
          "default": true
        },
        {
          "type": "header",
          "content": "🖼 Layout"
        },
        {
          "type": "range",
          "id": "rotation_speed",
          "label": "Rotation",
          "min": 0,
          "max": 40,
          "default": 0,
          "unit": "sec",
          "info": "Set to '0' to disable rotation"
        },
        {
          "type": "range",
          "id": "angle",
          "label": "Badge angle",
          "default": -15,
          "min": -45,
          "max": 45,
          "unit": "deg"
        },
        {
          "type": "range",
          "id": "badge_horizontal_position",
          "label": "Badge horizontal position",
          "default": 0,
          "min": 0,
          "max": 100
        },
        {
          "type": "range",
          "id": "badge_vertical_position",
          "label": "Badge vertical position",
          "default": 75,
          "min": -100,
          "max": 200,
          "step": 5
        },
        {
          "type": "header",
          "content": "🚨 Advanced"
        },
        {
          "type": "html",
          "id": "custom_css",
          "label": "CSS"
        },
        {
          "type": "html",
          "id": "mobile_custom_css",
          "label": "Mobile CSS",
          "info": "Applied on screens less than 480px."
        },
        {
          "type": "number",
          "id": "badge_size",
          "label": "Badge Size"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "image_crop",
      "label": "Image height",
      "default": "1200:600",
      "options": [
        {
          "label": "Original",
          "value": "none"
        },
        {
          "label": "Extra small",
          "value": "1200:200"
        },
        {
          "label": "Small",
          "value": "1200:400"
        },
        {
          "label": "Medium",
          "value": "1200:600"
        },
        {
          "label": "Large",
          "value": "1200:800"
        },
        {
          "label": "Extra large",
          "value": "1200:1000"
        }
      ]
    },
    {
      "type": "select",
      "id": "slider_animation",
      "label": "Slideshow transition",
      "info": "Minumum of 3 slides required to use 'Fade'",
      "options": [
        {
          "value": "fade",
          "label": "Fade"
        },
        {
          "value": "slide",
          "label": "Slide"
        }
      ],
      "default": "slide"
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show navigation dots",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay",
      "label": "Change slide every",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 8,
      "unit": "sec",
      "info": "Set to '0' to disable autoplay"
    },
    {
      "type": "header",
      "content": "✏️ Text appearance"
    },
    {
      "type": "range",
      "id": "text_size",
      "label": "Text size",
      "min": 70,
      "max": 180,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "range",
      "id": "button_radius",
      "label": "Button border radius",
      "min": 0,
      "max": 50,
      "step": 5,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🖼 Layout"
    },
    {
      "type": "text",
      "id": "max_width",
      "label": "Maximum width",
      "placeholder": "eg. 1200px",
      "info": "Sets width constraint. Prevents content from always being full width on large screens."
    },
    {
      "type": "range",
      "id": "outer_margin_top",
      "label": "Outer margin - top",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "outer_margin_bottom",
      "label": "Outer margin - bottom",
      "min": 0,
      "max": 100,
      "default": 0,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    },
    {
      "type": "checkbox",
      "id": "override_theme_font",
      "label": "Override default theme font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "heading_font",
      "label": "Headings",
      "default": "serif"
    },
    {
      "type": "font_picker",
      "id": "main_font",
      "label": "Text",
      "default": "sans-serif"
    }
  ],
  
  "presets": [
    {
      "name": "🧵 Simple Slideshow",
      "settings": {
      }
    }
  ]
}
{% endschema %}
{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "show_arrows": {{ section.settings.show_arrows | json }},
    "show_dots": {{ section.settings.show_dots | json }},
    "autoplay": {{ section.settings.autoplay | times: 1000 | json }},
    "slider_animation": {%- if section.settings.slider_animation == 'fade' -%}true{%- else -%}false{%- endif -%}
  }
</script>
{%- comment -%} External scripts {%- endcomment -%}
<script data-dsgn-pck-external-js="{{ section.id }}" src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/flickity-2.3.0.pkgd.min.js?v=1671485005" defer></script>
{%- if section.settings.slider_animation == 'fade' -%}
  <script data-dsgn-pck-external-js="{{ section.id }}" src="https://cdn.shopify.com/s/files/1/0577/7673/4361/files/flickity-fade-1.0.0.min.js?v=1659560790" defer></script>
{%- endif -%}
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    goToSlide: function(index){
      designPack.flkty.select( index, true, true )
    },
    load: function(section){

      const elem = section.querySelector(`#slideshow-${designPack.settings.id}`);
      designPack.flkty = new Flickity( elem, {
        cellAlign: 'left',
        autoPlay: this.settings.autoplay,
        contain: true,
        wrapAround: true,
        adaptiveHeight: true,
        imagesLoaded: true,
        fade: this.settings.slider_animation,
        prevNextButtons: this.settings.show_arrows,
        pageDots: this.settings.show_dots,
        on: {
          change: function( index ) {
            const color = this.selectedElement.dataset.slideshowColor;
            section.style.setProperty('--slideshow-color', color);
          }
        }
      });

    },
    unload: function(section){
      designPack.flkty.destroy();
    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  window.addEventListener('shopify:block:select', function (e) {
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    designPack.goToSlide(e.target.dataset.slideshowIndex);
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
