{%- comment -%}
{
  "pack_name": "Overlay - animated images",
  "pack_author": "Design Packs"
}
{%- endcomment -%}

{% comment %} Security Code - hides section when app uninstalled {% endcomment %}
{%- unless content_for_header contains 'design_packs_file.js' -%}
  {%- if request.design_mode -%}
    <div class="dsgn-pck__no-app-warning">
      <div class="dsgn-pck__no-app-warning-background">
      </div>
      <div class="dsgn-pck__no-app-warning-text dsgn-pck__rte">
        <p><strong>WARNING!</strong> This premium section will not display properly without an active subscription for <a href="https://apps.shopify.com/design-packs" target="_blank" rel="nofollow">Design Packs</a>. If you need any support please email <a href="mailto:info@design-packs.com" target="_blank">info@design-packs.com</a> with your questions.</p>
      </div>
    </div>
  {%- endif -%}
  {%- break -%}
{%- endunless -%}

{%- comment -%} Settings: section variables {%- endcomment -%}
{%- assign animated_image_amount = section.settings.animated_image_amount -%}

{%- capture minify -%}
{%- comment -%} CSS {%- endcomment -%}
<style>
#DP--{{ section.id }} {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  z-index: 10000;
  transition: opacity 1s cubic-bezier(.25, .46, .45, .94);
}

#DP--{{ section.id }} .design-packs__animated_image {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

#DP--{{ section.id }} .design-packs__animated_image > li {
  opacity: 0;
  list-style: none;
  position: absolute;
  top: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url({{ section.settings.image | image_url }});
  animation-name: dsgn-pck__image-{{ section.settings.animation_direction }};
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

{%- for i in (1..animated_image_amount) -%}
  #DP--{{ section.id }} li.design-packs__imageflake-{{ i }} {
    left: var(--left-position);
    width: var(--image-size);
    height: var(--image-size);
    animation-duration: var(--animation-duration);
    animation-delay: var(--animation-delay);
  }
{%- endfor -%}

@media (prefers-reduced-motion: reduce) {
  #DP--{{ section.id }} {
    display: none;
  }
}

@keyframes dsgn-pck__image-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 25vh);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 50vh);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 75vh);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 120vh);
    opacity: 0;
  }
}

@keyframes dsgn-pck__image-rise {
  0% {
    transform: translate(0, 120vh);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 50px;
  }
  20% {
    margin-left: 25px;
  }
  25% {
    transform: translate(0, 75vh);
    opacity: 0.75;
  }
  30% {
    margin-left: 50px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 50vh);
    opacity: 1;
    margin-left: -50px;
  }
  60% {
    margin-left: -25px;
  }
  70% {
    margin-left: -50px;
  }
  75% {
    transform: translate(0, 25vh);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 0vh);
    opacity: 0;
  }
}

{%- if section.settings.custom_css != blank -%}
  {%- assign custom_section_declarations = section.settings.custom_css | split: '}' -%}
  {%- for declaration in custom_section_declarations -%}
    {%- if declaration contains '{' -%}
      #DP--{{ section.id }} {{ declaration }} }
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  {%- if section.settings.hide_on_mobile != blank -%}
    #DP--{{ section.id }} {
      display: none;
    }
  {%- endif -%}
}

/* Landscape phones and down */
@media (max-width: 480px) {
  {%- if section.settings.mobile_custom_css != blank -%}
    {%- assign mobile_custom_declarations = section.settings.mobile_custom_css | split: '}' -%}
    {%- for declaration in mobile_custom_declarations -%}
      {%- if declaration contains '{' -%}
        #DP--{{ section.id }} {{ declaration }} }
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
}
</style>

{% comment %} HTML {% endcomment %}
<section id="DP--{{ section.id }}" class="DP--{{ section.id }} dsgn-pck__animated-images dsgn-pck__section" aria-hidden="true">
  <ul class="design-packs__animated_image">
  {%- for i in (1..animated_image_amount) -%}
    <li class="design-packs__imageflake design-packs__imageflake-{{ i }}" style="--image-size: 30;
            --left-position: 100;
            --minimum-speed: {{ section.settings.animated_image_speed }};
            --animation-duration: {{ section.settings.animated_image_speed }};
            --animation-delay: 5000;
            --blur: 5;"></li>
  {%- endfor -%}
  </ul>
</section>
{%- endcapture -%}
{{ minify | strip_newlines }}

{% comment %} Schema {% endcomment %}
{% schema %}
{
  "name": "Overlay - animated images",
  "class": "DP__overlay-animated-images",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "animation_direction",
      "label": "Animation direction",
      "options": [
        {
          "value": "drop",
          "label": "Falling (top to bottom)"
        },
        {
          "value": "rise",
          "label": "Rising (bottom to top)"
        }
      ],
      "default": "rise"
    },
    {
      "type": "select",
      "id": "animated_image_amount",
      "label": "Amount of images",
      "options": [
        {
          "value": "25",
          "label": "Light"
        },
        {
          "value": "50",
          "label": "Medium"
        },
        {
          "value": "150",
          "label": "Heavy"
        }
      ],
      "default": "50"
    },
    {
      "type": "select",
      "id": "animated_image_speed",
      "label": "Animation speed",
      "options": [
        {
          "value": "20000",
          "label": "Slow"
        },
        {
          "value": "10000",
          "label": "Medium"
        },
        {
          "value": "5000",
          "label": "Fast"
        }
      ],
      "default": "10000"
    },
    {
      "type": "range",
      "id": "end_animation",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "sec",
      "label": "Fade animation out",
      "default": 0,
      "info": "Set to '0' to always show"
    },
    {
      "type": "header",
      "content": "📱 Mobile"
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "Hide on smaller screens",
      "default": true
    },
    {
      "type": "header",
      "content": "🚨 Advanced"
    },
    {
      "type": "html",
      "id": "custom_css",
      "label": "CSS"
    },
    {
      "type": "html",
      "id": "mobile_custom_css",
      "label": "Mobile CSS",
      "info": "Applied on screens less than 480px."
    }
  ],
  "presets": [
    {
      "name": "Overlay - animated images 🎒"
    }
  ]
}
{% endschema %}

{%- comment -%} JSON Settings {%- endcomment -%}
<script type="application/json" data-dsgn-pck="{{ section.id }}">
  {
    "id": {{ section.id | json }},
    "end_animation": {{ section.settings.end_animation }}
  }
</script>
{%- comment -%} JavaScript {%- endcomment -%}
<script data-dsgn-pck-js="{{ section.id }}" type="module" defer>
(function(){

  const designPack = {
    settings: {},
    getNumber: function(min, max){
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1) + min);
    },
    stopAnimation: function(section){
      section.style.opacity = 0;
      setTimeout(function(){
        section.remove();
      }, 10000)
    },
    load: function(section){

      const animated_image = section.querySelectorAll('.design-packs__imageflake');

      if (designPack.settings.end_animation != 0){
        const ms = designPack.settings.end_animation * 10000;
        setTimeout(function(){
          designPack.stopAnimation(section);
        }, ms);
      }

      animated_image.forEach(function(flake, index){
        // Left position
        const leftPositionVal = flake.style.getPropertyValue('--left-position');
        const leftPosition = designPack.getNumber(1, leftPositionVal);
        flake.style.setProperty('--left-position', `${leftPosition}%`);

        // Image size
        const imageSizeVal = flake.style.getPropertyValue('--image-size');
        const imageSize = designPack.getNumber(1, imageSizeVal);
        flake.style.setProperty('--image-size', `${imageSize}px`);

        //Animation duration
        const animateSpeedVal = flake.style.getPropertyValue('--animation-duration');
        const minimumSpeedVal = flake.style.getPropertyValue('--minimum-speed');
        const animateSpeed = designPack.getNumber(1, animateSpeedVal) + parseInt(minimumSpeedVal);
        flake.style.setProperty('--animation-duration', `${animateSpeed}ms`);

        //Animation delay
        const animationDelay = designPack.getNumber(1, flake.style.getPropertyValue('--animation-delay'));
        flake.style.setProperty('--animation-delay', `${animationDelay}ms`);

        //Filter
        const blurVal = flake.style.getPropertyValue('--blur');
        const blur = designPack.getNumber(2, blurVal);
        flake.style.setProperty('--blur', `${blur}px`);
      })

    },
    unload: function(section){

    }
  }

  window.addEventListener('shopify:section:unload', function (e) {
    const settings = document.querySelector(`[data-dsgn-pck="${e.detail.sectionId}"]`);
    const sectionId = e.detail.sectionId;
    const section = document.querySelector(`#DP--${e.detail.sectionId}`);
    if (sectionId == designPack.settings.id){
      designPack.unload(section);
    }
  });

  designPack.settings = JSON.parse(document.querySelector('[data-dsgn-pck="{{ section.id }}"]').innerHTML);
  const sectionId = {{ section.id | json }};
  const section = document.querySelector(`#DP--${sectionId}`);

  if (sectionId == designPack.settings.id){
    designPack.load(section);
  }
})()
</script>
