<style>
.benefitimg
  {
  width: 840px;
  }
</style>
<div id="shopify-section-tab_product" class="shopify-section-tab">
  <div class="section">
    <div class="section__tab_wrapp">
      <div class="section__tab-menu">
        <a data-menu="1" data-target="guide-block" class="active">Quick guide</a>
        <a data-menu="2" data-target="faq-block">FAQs</a>
        <a data-menu="3" data-target="reviews-block">Reviews</a>
      </div>
      <div class="section__tab_wrapp-element">
        <div class="section__tab-block active" id="guide-block" data-tabel="1">
			
         
          {% if section.settings.show_mdvar and product.handle == section.settings.product_dimensions1 or product.handle == section.settings.product_dimensions2 or product.handle == section.settings.product_dimensions3  %}
          <div class="tab__content_wrapp">
            <h2>Models & Variations</h2>
            {% render 'tmp_-_tab_model_variants' , 
              product_dimensions1: {{section.settings.product_dimensions1}},
              product_dimensions2: {{section.settings.product_dimensions2}},
              product_dimensions3: {{section.settings.product_dimensions3}},
            %}
          </div>

          {%endif%}

          <div class="tab__content_wrapp mobile_width">
            <h2>Product Details</h2>
            <p>ZipBag® is a patent-pending storage container used for just about anything from keeping your Thanksgiving leftovers fresh, to eating your salad lunch out of it. It replaces plastic containers and plastic bags (plus the waste associated) and lets you store more inside your fridge, while keeping it eco-friendly & organized like never before.</p>
            <img class="desktop" style="background: #D8EBFB;" src="{{ 'product_detail_Snack_ZipBag.png' | asset_url }}" alt="">
            <img class="mobile-block" src="{{ 'product_detail_Snack_ZipBag_mobile.png' | asset_url }}" alt="">
          </div>

          <div class="tab__content_wrapp mobile_width">
            <h2>ZipBag Benefits</h2>
            <p>Its reusable, reduces waste and saves your money. We call that a  win-win.</p>
              <div id="shopify-section-444-zipbag-benefits" class="shopify-section shopify-section--image-with-text">
                <section class="section is-width-wide has-no-side-gutter"> 
                    <div class="section-1 featured_collections "> 

     <!--                 <div class="benefits_slide">
                        <div class="benefits_wrap">
                          <div class="benefits__content" data-slide='1'>
                            <h3><img src="{{ 'benefits_spoon.svg' | asset_url }}"> Bamboo Spork</h3>
                            <p>Each ZipBag comes with our eco-friendly bamboo fiber spork</p>
                          </div>
                        </div>
                        <div class="benefits_control">
                          <div class="benefits_prev" control-hide="true">
                            prev <i class="circle_arrow-left">&#8592;</i>
                          </div>
                          <div class="benefits_count">
                            1/6
                          </div>
                          <div class="benefits_next">
                            next <i class="circle_arrow-right">&#8594;</i>
                          </div>
                        </div>
                      </div>
                      -->



                                  <img class="benefitimg desktop" alt="" src="https://cdn.shopify.com/s/files/1/2609/5282/files/Group_261.png?v=1633167923">
                                  <img class="benefitimg mobile-block" alt="" src="https://cdn.shopify.com/s/files/1/2609/5282/files/Group_232_1_2048x.png?v=1633446679">

                    </div>
                  </section>
              </div>
          </div>






          <div class="tab__content_wrapp mobile_width">
            <h2>How it works</h2>
            <p>{{section.settings.hit_description}}</p>
              <div class="shopify-section shopify-section--image-with-text">
                <section class="section is-width-wide has-no-side-gutter"> 
                    <div class="container section-1 featured_collections is-flex-row-reverse"> 
                        <div class="featured-link--half one-whole column image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--none"> 
                          <div class="featured-link--wrap"> 
                            <div class="how-it-works desktop">
                              <div class="img-container left">
                                <img src="{{ 'how-it-works-zipbag-new-1.jpg' | asset_url }}">
                                <span class="tab__content-titleSteps">Step 1</span>
                                <span>{{section.settings.hit_step1_title}}</span>
                                <p>{{section.settings.hit_step1}}</p>
                              </div>
                              <div class="img-container middle">
                                <img src="{{ 'how-it-works-zipbag-new-2.jpg' | asset_url }}" style="object-position: right;">
                                <span class="tab__content-titleSteps">Step 2</span>
                                <span>{{section.settings.hit_step2_title}}</span>
                                <p>{{section.settings.hit_step2}}</p>
                              </div>
                              <div class="img-container right">
                                <img src="{{ 'how-it-works-zipbag-new-3.jpg' | asset_url }}" style="object-position: right;">
                                <span class="tab__content-titleSteps">Step 3</span>
                                <span>{{section.settings.hit_step3_title}}</span>
                                <p>{{section.settings.hit_step3}}</p>
                              </div>
                            </div>
                            <div class="swiper how-it-works mobile-block how-it-works-swiper">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'how-it-works-zipbag-new-1.jpg' | asset_url }}">
                                      <span class="tab__content-titleSteps">Step 1</span>
                                      <span>Fill &#38; Seal</span>
                                      <p>{{section.settings.hit_step1}}</p>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'how-it-works-zipbag-new-2.jpg' | asset_url }}" style="object-position: right;">
                                      <span class="tab__content-titleSteps">Step 2</span>
                                      <span>Pack &#38; Go</span>
                                      <p>{{section.settings.hit_step2}}</p>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'how-it-works-zipbag-new-3.jpg' | asset_url }}" style="object-position: right;">
                                      <span class="tab__content-titleSteps">Step 3</span>
                                      <span>Bon Appetit</span>
                                      <p>{{section.settings.hit_step3}}</p>
                                    </div>
                                  </div>
                              </div>
                              <div class="swiper-scrollbar"></div>
                            </div>
                          </div>
                        </div> 

                        <!-- div class="featured-link--half one-half column image-with-text__text-column is-flex is-align-center image-with-text__column medium-down--one-whole block--1573135030425-0"> 
                            <div class="info text-align--left"> 
                                <a href="/collections/eco-kitchen-innovations" class="collection_title">Product Details</a>
                                <div class="description">
                                    <p>ZipBag® is a patent-pending storage container used for just about anything from keeping your Thanksgiving leftovers fresh, to eating your salad lunch out of it. It replaces plastic containers and plastic bags (plus the waste associated) and lets you store more inside your fridge, while keeping it eco-friendly &amp; organized like never before.</p>
                                </div>
                            </div>
                        </div -->
                    </div>
                </section>
            </div>
          </div>



          <div class="tab__content_wrapp mobile_width">
            <h2>Features &#38; Benefits</h2>
            <div class="shopify-section shopify-section--image-with-text">
                <section class="section is-width-wide has-no-side-gutter"> 
                    <div class="container section-1 featured_collections is-flex-row-reverse"> 
                        <div class="featured-link--half one-whole column image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--none"> 
                          <div class="featured-link--wrap"> 
                            <div class="features-and-benefits desktop">

                              <div class="img-container left">
                                <img src="{{ 'features-benefits-zipbag-new-1.jpg' | asset_url }}">
                                <br>
                                <span>Storage Pouch</span>
                                <p>Snacking on the go? Use the extra pouch to pack our bamboo fiber spork, the custo hot+cold packs, or napkins.</p>
                              </div>
                              <div class="img-container middle">
                                <img src="{{ 'features-benefits-zipbag-new-2.jpg' | asset_url }}">
                                <br>
                                <span>Use It Your Way</span>
                                <p>ZipBag is microwave, oven and freezer safe (heat resistant up to 392°F / 200°C</p>
                              </div>
                              <div class="img-container right">
                                <img src="{{ 'features-benefits-zipbag-new-3.jpg' | asset_url }}">
                                <br>
                                <span>Day-of-the-week Dial</span>
                                <p>Each ZipBag includes our unique dial that helps keep track of when you put food in the fridge or when it needs to be used by.</p>
                              </div>

                            </div>
                            <div class="swiper features-and-benefits mobile-block features-and-benefits-swiper">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'features-benefits-zipbag-new-1.jpg' | asset_url }}">
                                      <br>
                                      <span>Storage Pouch</span>
                                      <p>Snacking on the go? Use the extra pouch to pack our bamboo fiber spork, the custo hot+cold packs, or napkins.</p>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'features-benefits-zipbag-new-2.jpg' | asset_url }}">
                                      <br>
                                      <span>Use It Your Way</span>
                                      <p>ZipBag is microwave, oven and freezer safe (heat resistant up to 392°F / 200°C</p>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'features-benefits-zipbag-new-3.jpg' | asset_url }}">
                                      <br>
                                      <span>Day-of-the-week Dial</span>
                                      <p>Each ZipBag includes our unique dial that helps keep track of when you put food in the fridge or when it needs to be used by.</p>
                                    </div>
                                  </div>
                              </div>
                              <div class="swiper-scrollbar"></div>
                            </div>
                          </div>
                        </div> 
                    </div>
                </section>
            </div>
          </div>



          <div class="tab__content_wrapp mobile_width">
            <h2>{{section.settings.prod-more-benefits-title}}</h2>
              <div class="shopify-section shopify-section--image-with-text">
                <style data-shopify=""></style>
                <section class="section is-width-wide has-no-side-gutter"> 
                    <div class="container section-1 featured_collections is-flex-row-reverse"> 
                        <div class="featured-link--half one-whole column image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--none"> 
                          <div class="featured-link--wrap"> 
                            <div class="more-benefits desktop">
                              <div class="img-container left">
                                <img src="{{section.settings.prod-more-benefits-image1 | image_url}}">
                                <br>
                                <span>{{section.settings.prod-more-benefits-title-s1}}</span>
                                <p>{{section.settings.prod-more-benefits-text-s1}}<</p>
                              </div>
                              <div class="img-container middle">
                                <img src="{{section.settings.prod-more-benefits-image2 | image_url}}">
                                <br>
                                <span>{{section.settings.prod-more-benefits-title-s2}}</span>
                                <p>{{section.settings.prod-more-benefits-text-s2}}</p>
                              </div>
                              <div class="img-container right">
                                <img src="{{section.settings.prod-more-benefits-image3 | image_url}}">
                                <br>
                                <span>{{section.settings.prod-more-benefits-title-s3}}</span>
                                <p>{{section.settings.prod-more-benefits-text-s3}}</p>
                              </div>
                            </div>
                            <div class="swiper more-benefits mobile-block more-benefits-swiper">
                              <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'more-benefits-zipbag-new-1.jpg' | asset_url }}">
                                      <br>
                                      <span>Easy Cleaning</span>
                                      <p>Simply hand wash with warm, soapy water or place in dishwasher top rack for hassle-free cleaning.</p>
                                    </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                        <img src="{{ 'more-benefits-zipbag-new-2.jpg' | asset_url }}">
                                        <br>
                                        <span>Contain Your Excitement</span>
                                        <p>There are a bunch of ways ZipBag can be used. Use it to steam fresh veggies in the microwave or to perfectly marinate meat in the fridge.</p>
                                      </div>
                                  </div>
                                  <div class="swiper-slide">
                                    <div class="img-container">
                                      <img src="{{ 'more-benefits-zipbag-new-3.jpg' | asset_url }}">
                                      <br>
                                      <span>Convenient Storage</span>
                                      <p>On ZipBag's days off, store and hand by its silicone loop. With our bamboo hook, you'll be one step closer to the clutter-free cabinets.</p>
                                    </div>
                                  </div>
                              </div>
                              <div class="swiper-scrollbar"></div>
                            </div>
                          </div>
                        </div> 
                    </div>
                </section>
            </div>
          </div>


        </div>

        <div id="shopify-section-banner_plasticProblem" class="shopify-section mobile-block">
          <div class="section section_plasticProblem"> <div class="plasticProblem_upwrap"> <h2>The Plastic Problem Yes, it's real...</h2> <div class="plasticProblem_wrapp"> <div class="plasticProblem-item plasticProblem-item_mobile"> <img src="//cdn.shopify.com/s/files/1/2609/5282/t/16/assets/Alert_Circle.svg?v=16238981673619128397" alt="">
            50% of plastic is used once, then tossed away.</div> <div class="plasticProblem-item"> <img src="//cdn.shopify.com/s/files/1/2609/5282/t/16/assets/Alert_Circle.svg?v=16238981673619128397" alt="">
            Plastic sticks around for 450 years <img class="long__arrow" src="//cdn.shopify.com/s/files/1/2609/5282/t/16/assets/long_arrow.svg?v=7259755189433459363"> forever.</div> <div class="plasticProblem-item plasticProblem-item_mobile"> <img src="//cdn.shopify.com/s/files/1/2609/5282/t/16/assets/Alert_Circle.svg?v=16238981673619128397" alt="">
            By 2050, there will be more plastic than fish in our oceans.</div></div></div>
          </div>
        </div>

        <div class="section__tab-block" id="faq-block" data-tabel="2">

          {% render 'tmp_-_block__faq', blocks: section.blocks %}

        </div>

        <div class="section__tab-block" id="reviews-block" data-tabel="3">

          <div class="title">
              <h2>Reviews</h2>
            </div>
          {% comment %}
            {% render 'okendo-reviews-widget', product: product %}
          {% endcomment %}


         {% comment %} 
         <div id="shopify-section-101010-reviews" class="shopify-section shopify-section--image-with-text">
            <style data-shopify=""></style>
            <section class="section is-width-wide has-no-side-gutter"> 
              <div class="container reviews-block image-with-text-container section-1 featured_collections is-flex-row-reverse"> 
                <div class="featured-link--half one-whole column image-with-text__image-column is-align-center image-with-text__column medium-down--one-whole image-crop--none"> 
                  <div class="featured-link--wrap"> 
                    <div class="title">
                      <h2>Reviews</h2>
                      <span class="leave-review">Leave a review ></span>
                    </div>
                    <p></p>
                    <div class="reviews">
                      	<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}" data-description="{{ product.description | escape }}"></div>
                      <!-- 
                      <div class="img-container">
                        <img src="{{ '10-product-page-review-1.svg' | asset_url }}">
                      </div>
                      <hr>
                      <div class="img-container">
                        <img src="{{ '10-product-page-review-2.svg' | asset_url }}">
                      </div>
                      <hr>
                      <div class="img-container">
                        <img src="{{ '10-product-page-review-3.svg' | asset_url }}">
                      </div>
                      <hr>
                      <div class="img-container">
                        <img src="{{ '10-product-page-review-4.svg' | asset_url }}">
                      </div>
                      <hr>
                      <div class="img-container">
                        <img src="{{ '10-product-page-review-5.svg' | asset_url }}">
                      </div>
                    </div>
                    <span class="more">More</span> -->
                  </div>
                </div> 
              </div>
              </div>
            </section>
          </div>
          {% endcomment %}


        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Variations, HTU, FAQ",
    "settings": [
  		{
            "type": "product",
            "id": "product_dimensions1",
            "label": "Variation Product 1"
        },
  		{
            "type": "product",
            "id": "product_dimensions2",
            "label": "Variation Product 2"
        },
  		{
            "type": "product",
            "id": "product_dimensions3",
            "label": "Variation Product 3"
        },
  		{
            "type": "checkbox",
            "id": "show_mdvar",
            "label": "Show Variation block",
            "default": true
        },
		{
            "type": "text",
            "id": "hit_description",
            "label": "How to use description",
			"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nisl rhoncus libero justo tristique sit sollicitudin pharetra. Nibh neque nisl leo consequat egestas non egestas pretium. Massa sed sit non risus, urna habitasse ullamcorper volutpat. Feugiat lectus risus nulla blandit ac. Nec sed vivamus malesuada libero, pulvinar tellus viverra non."
        },
		{
            "type": "text",
            "id": "hit_step1_title",
            "label": "How to use Step1 Title",
			"default": "Fill &#38; Seal"
        },
		{
            "type": "text",
            "id": "hit_step1",
            "label": "How to use Step1",
			"default": "Keep your favorite snacks crisp, store fresh produce, or last night's leftovers."
        },
		{
            "type": "text",
            "id": "hit_step2_title",
            "label": "How to use Step2 Title",
			"default": "Pack &#38; Go"
        },
		{
            "type": "text",
            "id": "hit_step2",
            "label": "How to use Step2",
			"default": "Pack your salad or sandwich inside - ZipBag is perfect for taking a meal on the go."
        },
		{
            "type": "text",
            "id": "hit_step3_title",
            "label": "How to use Step3 Title",
			"default": "Bon Appetit"
        },
		{
            "type": "text",
            "id": "hit_step3",
            "label": "How to use Step3",
			"default": "Go ahead and enjoy that homemade lunch of yours. Dig in, you deserve it!"
        },
		{
        "type": "header",
        "content": "More Benefits"
      	},
		{
          "id": "prod-more-benefits-title",
          "type": "text",
          "label": "Title More Benefits section",
          "default": "More Benefits"
        },
		{
          "id": "prod-more-benefits-image1",
          "type": "image_picker",
          "label": "Image block 1"
        },
		{
          "id": "prod-more-benefits-title-s1",
          "type": "text",
          "label": "Title block 1",
          "default": "text"
        },
		{
          "id": "prod-more-benefits-text-s1",
          "type": "textarea",
          "label": "text block 1",
          "default": "text"
        },
		{
          "id": "prod-more-benefits-image2",
          "type": "image_picker",
          "label": "Image block 2"
        },
		{
          "id": "prod-more-benefits-title-s2",
          "type": "text",
          "label": "Title block 2",
          "default": "text"
        },
		{
          "id": "prod-more-benefits-text-s2",
          "type": "textarea",
          "label": "text block 2",
          "default": "text"
        },
		{
          "id": "prod-more-benefits-image3",
          "type": "image_picker",
          "label": "Image block 3"
        },
		{
          "id": "prod-more-benefits-title-s3",
          "type": "text",
          "label": "Title block 3",
          "default": "text"
        },
		{
          "id": "prod-more-benefits-text-s3",
          "type": "textarea",
          "label": "text block 3",
          "default": "text"
        }
  	],
	"blocks": [
       {
         "name": "Faq block",
         "type": "faq_block",
         "settings": [
           {
             "type": "text",
             "id": "title",
             "label": "Title"
           },
           {
             "type": "textarea",
             "id": "text",
             "label": "Text"
           }
         ]
       }
	]
  }
{% endschema %}

{% stylesheet %}
	#shopify-section-tab_product.shopify-section{
		padding: 0;
	}
	#shopify-section-tab_product.shopify-section-tab{
		padding: 130px 0;
	}
	.section__tab_wrapp{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.section__tab-menu{
		max-width: 170px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        position: sticky;
        top: 160px;
        position: -webkit-sticky;
        height: 100%;
	}
	.section__tab-menu a{
		text-align: left;
        padding: 12px 20px;
        background: #fff;
        margin-bottom: 10px;
        border-radius: 6px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        font-family: 'AvertaCY';
        font-size: 14px;
        color: #000;
		transition: all 0.2s linear;
		font-weight: 600;
		cursor: pointer;
	}
	.section__tab-menu a.active, .section__tab-menu a:hover{
		background: #3AB8F1;
		color: #fff;
	}
	.section__tab-menu a.active {
		cursor: default;
	}
	.section__tab_wrapp-element{
		width: calc(100% - 280px);
	}
	.section__tab_wrapp-element .section__tab-block{
		display: block
	}
	.section__tab_wrapp-element .section__tab-block.active{
		display: block;
	}
	.accordion button[aria-expanded=true]+.accordion-content p {
		font-size: 14px;
		line-height: 170%;
		color: #7F8F9E;
	}

@media (max-width: 1024px) {
	.model_variats-right.model_variats-left button {
		display: none;
	}
}

{% endstylesheet %}

<script type="text/javascript">
  const links = document.querySelectorAll(".section__tab-menu a");
  const sections = document.querySelectorAll(".section__tab-block");
  
  links.forEach((link) => {
    link.onclick = () => {
      sections.forEach((section) => {
        if (link.dataset.target === section.id) {
           window.scroll({
             top: section.offsetTop-140,
             behavior: 'smooth'
           });
           link.classList.add("active");
        }
      });
    };
  });

  window.onscroll = () => scrollspy();
  window.onload = () => scrollspy();
  window.onresize = () => scrollspy();

  const scrollspy = () => {
    const pageYPosition =
      document.documentElement.scrollTop || document.body.scrollTop;
    sections.forEach((section) => {
      const sectionYPosition = section.offsetTop;

      if (pageYPosition > sectionYPosition - 180) {
        links.forEach((link) => {
          if (link.dataset.target === section.id) {
            link.classList.add("active");
          }
		  else {
            link.classList.remove("active");
		  }
        });
      }
    });
  };

  scrollspy();
</script>

{% javascript %}

    var swiper = new Swiper(".how-it-works-swiper", {
      spaceBetween: 40,
      loop: false,
	  width: 213,
	  centeredSlides: true,
	  scrollbar: {
        el: '.swiper-scrollbar',
      },	  
    });
	var swiper = new Swiper(".features-and-benefits-swiper", {
      spaceBetween: 40,
      loop: false,
	  width: 213,
	  centeredSlides: true,
	  scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
	var swiper = new Swiper(".more-benefits-swiper", {
      spaceBetween: 40,
      loop: false,
	  width: 213,
	  centeredSlides: true,
	  scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

	$('.section__tab-menu a').on('click', function(e){
		e.preventDefault();
		if(!$(this).hasClass('active')){
			var indxeId = $(this).data('menu');
			$('.section__tab-menu a').removeClass('active');
			$(this).addClass('active');
			$('.section__tab_wrapp-element .section__tab-block').removeClass('active');			
			$('.section__tab_wrapp-element .section__tab-block[data-tabel='+ indxeId +']').addClass('active');		
		}
	})
$(function(){
  
  $('.model_variats_option-wrapp-model input[type=radio]').on('change', function(){
  		var idProd = $(this).val();
  		var sectionOptionAll = $('.model_variats_option-item');
  		
  		$('.model_variats_option-item').removeClass('active');
  				
  		sectionOptionAll.each(function(){
  			if($(this).attr('data-optvar') == idProd){
  				$(this).addClass('active');
  			}
  		})
  		
  		if($('.model_variats_option-item.active').length > 0){

  			$('.model_variats-titleh5').show();
  			$('.model_variats-right img').removeClass('active');
  			$('.model_variats-right img').each(function(){
                if($(this).attr('data-idimg') == $('.model_variats_option-item.active input:checked').val()){
                    $(this).addClass('active');
                }
            })
  			$('#model_variats-idhide').val($('.model_variats_option-item.active input:checked').val());
  		}else{
  			$('.model_variats-titleh5').hide();
  			$('.model_variats-right img').removeClass('active');
  			$('.model_variats-right img').each(function(){
                if($(this).attr('data-idimg') == idProd){
                    $(this).addClass('active');
                }
            })
  			$('#model_variats-idhide').val(idProd);
  		}
        $('.cart_btn_disabled').hide();
        $('.cart_btn').show();

        $('.model_variats_option-item.desktop.active input[type=radio]').first().change();
$('div[class="model_variats-left"').find('.green__btn_cart-money').text($('.model_variats_option-item.active input:checked').data('price'));

  })
  
  $('.model_variats_option-wrapp-variats input[type=radio]').on('change', function(){
  		var idProd = $(this).val();
  	
  		$('.model_variats-right img').removeClass('active');
  		$('.model_variats-right img').each(function(){
           if($(this).attr('data-idimg') == $('.model_variats_option-item.active input:checked').val()){
              $(this).addClass('active');
           }
        })
  		
  		$('#model_variats-idhide').val(idProd);

        showDesktopCartButton($(this).data('available'));



$('div[class="model_variats-left"]').find('.green__btn_cart-money').text($(this).data('price'));

  })
  
})

$(function(){
  
  $('.model_variats_option-wrapp-model select').on('change', function(){
  		var idProd = $(this).val();
  		var sectionOptionAll = $('.model_variats_option-item');
  		
  		$('.model_variats_option-item').removeClass('active');
  				
  		sectionOptionAll.each(function(){
  			if($(this).attr('data-optvar') == idProd){
  				$(this).addClass('active');
  			}
  		})
  		
  		if($('.model_variats_option-item.active').length > 0){

  			$('.model_variats-titleh5').show();
  			$('.model_variats-right img').removeClass('active');
  			$('.model_variats-right img').each(function(){
                if($(this).attr('data-idimg') == $('.model_variats_option-item.active select').val()){
                    $(this).addClass('active');
                }
            })
  			$('#model_variats-idhide').val($('.model_variats_option-item.active select').val());
  		}else{
  			$('.model_variats-titleh5').hide();
  			$('.model_variats-right img').removeClass('active');
  			$('.model_variats-right img').each(function(){
                if($(this).attr('data-idimg') == idProd){
                    $(this).addClass('active');
                }
            })
  			$('#model_variats-idhide').val(idProd);
  		}

        $('.model_variats_select-wrapp.model_variats_option-item.mobile-block.active select').change();
		$('.model_variats-right.model_variats-left .green__btn_cart-money').text($('.model_variats_select-wrapp.model_variats_option-item.mobile-block.active select').find(':selected').data('price'));

  })
  
  $('.model_variats_option-wrapp-variats select').on('change', function(){
  		var idProd = $(this).val();
  	
  		$('.model_variats-right img').removeClass('active');
  		$('.model_variats-right img').each(function(){
           if($(this).attr('data-idimg') == $('.model_variats_option-item.active select').val()){
              $(this).addClass('active');
           }
        })
  		
  		$('#model_variats-idhide').val(idProd);

		showMobileCartButton($(this.selectedOptions[0]).data('available'));

		$('.model_variats-right.model_variats-left .green__btn_cart-money').text($('.model_variats_select-wrapp.model_variats_option-item.mobile-block.active select').find(':selected').data('price'));

  })
  
})
  	
  
		$('.model_variats-left .green__btn_cart-money').text($('.model_variats_option-item.active').data('price'));

function showMobileCartButton(e) {
if(!e) {
            $('.model_variats-right.model_variats-left .cart_btn_disabled').addClass('mobile-flex').show();
            $('.model_variats-right.model_variats-left .gree__btn_cart_availabel').removeClass('mobile-flex').hide();
        } else {
            $('.model_variats-right.model_variats-left .cart_btn_disabled').hide().removeClass('mobile-flex').hide();
            $('.model_variats-right.model_variats-left .gree__btn_cart_availabel').show().addClass('mobile-flex').show();;
        }
}

function showDesktopCartButton(e) {
if(!e) {
            $('div[class="model_variats-left"]').find('.cart_btn_disabled').show();
            $('div[class="model_variats-left"]').find('.dgree__btn_cart_availabel').hide();
        } else {
            $('div[class="model_variats-left"]').find('.cart_btn_disabled').hide();
            $('div[class="model_variats-left"]').find('.dgree__btn_cart_availabel').show();
        }
}

$(document).ready(function(){
$('.model_variats_option-wrapp-model input[type=radio]').change();
$('.model_variats_option-wrapp-model select').change();
});
  
{% endjavascript %}

