
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<div class="recipe-rec">
  <div class="rec-container">
    <h3 class="rec-title">{{ section.settings.title }}</h3>
    <div class="rec-slider">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
     
             <div class="swiper-slide rec-slide">
                    <a href="{{ block.settings.page.url }}">
            <img src="{{ block.settings.page.metafields.global.recipe_image }}" alt="{{ block.settings.page.title }}" class="rec-slide-img"/>
           <div class="rec-slide-desc">
              <h4>{{ block.settings.page.title }}</h4>
              <div class="rec-slide-badge">
                <span class="rec-slide-person">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M4.08301 4.99984C4.08301 3.5731 5.23961 2.4165 6.66634 2.4165C8.09308 2.4165 9.24967 3.5731 9.24967 4.99984C9.24967 6.42657 8.09308 7.58317 6.66634 7.58317C5.23961 7.58317 4.08301 6.42657 4.08301 4.99984ZM6.66634 0.916504C4.41118 0.916504 2.58301 2.74467 2.58301 4.99984C2.58301 7.255 4.41118 9.08317 6.66634 9.08317C8.9215 9.08317 10.7497 7.255 10.7497 4.99984C10.7497 2.74467 8.9215 0.916504 6.66634 0.916504ZM12.4997 0.916504C12.0855 0.916504 11.7497 1.25229 11.7497 1.6665C11.7497 2.08072 12.0855 2.4165 12.4997 2.4165C13.9264 2.4165 15.083 3.5731 15.083 4.99984C15.083 6.42657 13.9264 7.58317 12.4997 7.58317C12.0855 7.58317 11.7497 7.91896 11.7497 8.33317C11.7497 8.74738 12.0855 9.08317 12.4997 9.08317C14.7548 9.08317 16.583 7.255 16.583 4.99984C16.583 2.74467 14.7548 0.916504 12.4997 0.916504ZM0.0830078 15.6665C0.0830078 13.0431 2.20966 10.9165 4.83301 10.9165H8.49967C11.123 10.9165 13.2497 13.0431 13.2497 15.6665C13.2497 17.5535 11.72 19.0832 9.83301 19.0832H3.49968C1.61271 19.0832 0.0830078 17.5535 0.0830078 15.6665ZM4.83301 12.4165C3.03808 12.4165 1.58301 13.8716 1.58301 15.6665C1.58301 16.725 2.44113 17.5832 3.49968 17.5832H9.83301C10.8916 17.5832 11.7497 16.725 11.7497 15.6665C11.7497 13.8716 10.2946 12.4165 8.49967 12.4165H4.83301ZM14.1663 10.9165C13.7521 10.9165 13.4163 11.2523 13.4163 11.6665C13.4163 12.0807 13.7521 12.4165 14.1663 12.4165H15.1663C16.9613 12.4165 18.4163 13.8716 18.4163 15.6665C18.4163 16.725 17.5582 17.5832 16.4997 17.5832H14.1663C13.7521 17.5832 13.4163 17.919 13.4163 18.3332C13.4163 18.7474 13.7521 19.0832 14.1663 19.0832H16.4997C18.3866 19.0832 19.9163 17.5535 19.9163 15.6665C19.9163 13.0431 17.7897 10.9165 15.1663 10.9165H14.1663Z" fill="#7F8F9E"/>
                  </svg>
                  {{ block.settings.page.metafields.global.serving }}
                </span>
                <span class="rec-slide-time">
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.86334 0.303166C4.15623 0.596059 4.15623 1.07093 3.86334 1.36383L1.36334 3.86383C1.07044 4.15672 0.595571 4.15672 0.302678 3.86383C0.0097845 3.57093 0.0097845 3.09606 0.302678 2.80317L2.80268 0.303166C3.09557 0.0102728 3.57044 0.0102728 3.86334 0.303166ZM2.41634 10.0002C2.41634 5.812 5.81152 2.41683 9.99967 2.41683C14.1878 2.41683 17.583 5.812 17.583 10.0002C17.583 14.1883 14.1878 17.5835 9.99967 17.5835C5.81152 17.5835 2.41634 14.1883 2.41634 10.0002ZM9.99967 0.916829C4.98309 0.916829 0.916341 4.98358 0.916341 10.0002C0.916341 15.0168 4.98309 19.0835 9.99967 19.0835C15.0163 19.0835 19.083 15.0168 19.083 10.0002C19.083 4.98358 15.0163 0.916829 9.99967 0.916829ZM10.7497 6.66683C10.7497 6.25262 10.4139 5.91683 9.99967 5.91683C9.58546 5.91683 9.24967 6.25262 9.24967 6.66683V10.0002C9.24967 10.2509 9.375 10.4851 9.58365 10.6242L12.0836 12.2909C12.4283 12.5206 12.8939 12.4275 13.1237 12.0829C13.3535 11.7382 13.2603 11.2726 12.9157 11.0428L10.7497 9.59877V6.66683ZM16.136 1.36383C15.8431 1.07093 15.8431 0.596059 16.136 0.303166C16.4289 0.0102728 16.9038 0.0102728 17.1967 0.303166L19.6967 2.80317C19.9896 3.09606 19.9896 3.57093 19.6967 3.86383C19.4038 4.15672 18.9289 4.15672 18.636 3.86383L16.136 1.36383Z" fill="#7F8F9E"/>
                  </svg>
                  {{ block.settings.page.metafields.global.cook }}
                </span>
              </div>
            </div>
                       </a>
          </div>
       
        {% endfor %}
      </div>
      <div class="swiper-scrollbar mobile-block"></div>
      <div class="custom-swiper-button-prev">
        <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10.5"><defs><style>.cls-1{fill:#2e3054;fill-rule:evenodd;}</style></defs><title>Arrow - Left</title><path class="cls-1" d="M8.78,4A.75.75,0,0,1,8.78,5L5.56,8.25h8.69a.75.75,0,0,1,0,1.5H5.56L8.78,13A.75.75,0,1,1,7.72,14l-4.5-4.5a.75.75,0,0,1,0-1.06L7.72,4A.75.75,0,0,1,8.78,4Z" transform="translate(-3 -3.75)"/></svg>
      </div>
      <div class="custom-swiper-button-next">
        <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10.5"><defs><style>.cls-1{fill:#2e3054;fill-rule:evenodd;}</style></defs><title>Arrow - Left</title><path class="cls-1" d="M8.78,4A.75.75,0,0,1,8.78,5L5.56,8.25h8.69a.75.75,0,0,1,0,1.5H5.56L8.78,13A.75.75,0,1,1,7.72,14l-4.5-4.5a.75.75,0,0,1,0-1.06L7.72,4A.75.75,0,0,1,8.78,4Z" transform="translate(-3 -3.75)"/></svg>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Recipe Recommendations",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Recipes Products Title"
      }
	],
    "blocks": [
       {
         "name": "Product",
         "type": "slide",
         "settings": [
           {
             "type": "page",
             "id": "page",
             "label": "Page Recipes"
           }
         ]
       }
     ]
  }
{% endschema %}

{% stylesheet %}
	.recipe-rec {
		background: #F7F9FC;
		padding: 80px 0 100px;
		position: relative;
	}
	.recipe-rec .rec-container {
		width: 100%;
		max-width: 1128px;
		margin: 0 auto;
	}
	.recipe-rec .rec-title {
		text-align: center;
/* 		font-family: KlarheitKurrent; */
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 48px;
		margin-bottom: 60px;
        letter-spacing: -0.02em;
        color: #2E3054;
	}
	.recipe-rec .rec-slider {
		overflow: hidden;
	}
	.recipe-rec .rec-slide {
        display: flex;
    	flex-direction: column;
		max-width: 360px;
		background: #FFFFFF;
		border-radius: 8px;
	}
	.recipe-rec .rec-slide-img {
        width: 360px;
        height: 284px;
		object-fit: cover;
		border: 0px solid #fff;
        -moz-border-radius: 8px 8px 0 0;
        -webkit-border-radius: 8px 8px 0 0;
        border-radius: 8px 8px 0 0;
	}
	.recipe-rec .rec-slide-desc {
		margin: 0 24px;
	}
	.recipe-rec .rec-slide-desc h4 {
		margin: 24px 0 16px;
		padding: 0;
/* 		font-family: AvertaCY; */
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #2E3054;
	}
	.recipe-rec .rec-slide-badge {
		display: flex;
		margin-bottom: 24px;
	}
	.recipe-rec .rec-slide-badge > span {
        margin-right: 20px;
/*         font-family: AvertaCY; */
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #7f8f9e;
        display: flex;
        flex-direction: row;
        padding-right: 0;
        align-items: center;
	}
	.recipe-rec .rec-slide-badge > span svg {
        margin-right: 8px;
	}
	.recipe-rec .rec-slider .custom-swiper-button-prev, .recipe-rec .rec-slider .custom-swiper-button-next {
		position: absolute;
		width:48px;
		height: 48px;
		background-color: #fff;
		top: 50%;
        margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
        z-index: 10;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
		border-radius: 50%;
	}
	.recipe-rec .rec-slider .custom-swiper-button-prev svg, .recipe-rec .rec-slider .custom-swiper-button-next svg {
		width:18px;
		height: 18px;
	}
	.recipe-rec .rec-slider .custom-swiper-button-prev {
      left: 78px;
      right: auto;
	}
	.recipe-rec .rec-slider .custom-swiper-button-next {
      right: 78px;
      left: auto;
	}
	.recipe-rec .rec-slider .custom-swiper-button-next svg {
      transform: rotate(180deg);
	}
{% endstylesheet %}

<script>
	const swiper = new Swiper('.rec-slider', {
  	  slidesPerView: 3,
	  spaceBetween: 24,
      loop: true,
      navigation: {
        nextEl: '.custom-swiper-button-next',
        prevEl: '.custom-swiper-button-prev',
      },
      breakpoints: {
        0: {
            scrollbar: {
              el: '.swiper-scrollbar',
            },
            width: 233,
            centeredSlides: true,
            slidesPerView: 1,
            spaceBetween: 20,
            loop: false
          
        },
        1024: {
            width: null,
            slidesPerView: 3,
	  		spaceBetween: 24,
            centeredSlides: false,
            navigation: {
              nextEl: '.custom-swiper-button-next',
              prevEl: '.custom-swiper-button-prev',
            },
      		loop: true
        }
      }
    });
</script>