<style>
.recipe_main
  {
  	width: 100%;
    display: flex;
    flex-wrap: wrap;
/*     max-width: 1128px; */
/*     margin: 0 auto; */
/*     margin-bottom: 130px; */
  }
.recipe_image
  {
/*   	width:552px; */
  }
.recipe_info
  {
    flex:1;
/*   	padding-left: 96px; */
/*     width: calc(100% - 552px); */
  }
 .recipe_subtitle
  {
  	color: #77D3AF;
    font-size: 14px;
    line-height: 20xp;
/*     font-family: AvertaCY; */
    
  }
  .recipe_title
  {
    padding-top: 8px;
/*   	font-family: KlarheitKurrent; */
    font-size: 26px;
    font-weight: bold;
  }
  .recipe_description
  {
    padding-top: 20px;
  	color: #7F8F9E;
/*     font-family: AvertaCY; */
    font-size: 14px;
    line-height: 20px;
    
  }
  .recipe_hr
  {
  	margin-top:24px;
    border: 1px solid #F4F4F4;
     margin-bottom: 34px;
  }
  .recipe_param {
   
  	display: flex;
    flex-wrap: wrap;
  }
  .recipe_param_item
  {
/*   	width:152px; */
    height: 48px;
    border: 1px solid #F4F4F4;
    border-radius: 6px;
  	text-align: center;
/*       font-family: AvertaCY; */
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    padding-top: 12px;
    color: #2E3054;
  }
  
/*   .recipe_param_item1
  {
  
  }
  .recipe_param_item2
  {
    	margin-right: 12px;
    margin-left: 12px;
  }
  .recipe_param_item3
  {
  
  	
    
  } */
  .recipe_param_item_text
  {
  	
    color: #7F8F9E;
/*        font-family: AvertaCY; */
    font-size: 14px;
    line-height: 20px;
    	
  }
  .txt
  {
  	margin-top:-10px;
    margin-left: 15px;
    position: absolute;
    background: white;
  }
  .txt2
  {
  	  margin-left: 27px;
  }
  .recipe_power_level
  {
    padding: 0 16px;
  	 border: 1px solid #F4F4F4;
    border-radius: 6px;
    width: 100%;
    height: 56px;
/*       font-family: AvertaCY; */
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    display: none;
  }
  .power_level
  {
  	color:#77D3AF;
/*       font-family: AvertaCY; */
    font-size: 20px;
    line-height: 24px;
    margin-left: 6px;
 
  }
  .power_level_c1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
	}
  .power_level_c1 .power_level_title
  {
/*   	font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #2E3054;

  }
  .power_level_c1 .power_level
  {
    line-height: 26px;

  }
  .power_level_c2
  {
  	/*padding-bottom: 12px;*/
    font-size: 12px;
    line-height: 20px;
    position: relative;
  }
  .c2_popup {
  	position: absolute;
    background: #fff;
    box-shadow: 0px 15px 40px rgba(46, 54, 84, 0.12);
    border-radius: 8px;
    padding: 24px 24px 27px;
    width: 356px;
    right: -8px;
    z-index: 100;
    top: 28px;
  }

  
  
  .c2_popup h3 {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2E3054;
    margin-bottom: 16px;
  }
  .c2_popup p {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7F8F9E;
    margin-bottom: 12px;
  }
  .c2_popup p:last-child {
    margin-bottom: 0px;
  }
  .c2_popup p b {
    font-weight: normal;
    color: #2E3054;
  }
  .c2_button {
   	cursor: pointer; 
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }


  
  .pl_popup p {
    cursor: pointer;
  }
  
  .pl_popup p.active {
    font-weight: normal;
    color: #2E3054;
  }


  .hf_wattage_popup h3 {
    margin-bottom: 0;
  }







    .power_level_c3
  {
  	padding-left: 45px;
    font-size: 12px;
    line-height: 20px;
    position: relative;
  }
  .c3_popup {
  	position: absolute;
    background: #fff;
    box-shadow: 0px 15px 40px rgba(46, 54, 84, 0.12);
    border-radius: 8px;
    padding: 24px 24px 27px;
    width: 416px;
    right: -8px;
    z-index: 100;
    top: 28px;
  }
  
  
  .c3_popup h3 {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #2E3054;
    margin-bottom: 16px;
  }
  .c3_popup p {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7F8F9E;
    margin-bottom: 12px;
  }
  .c3_popup p:last-child {
    margin-bottom: 0px;
  }
  .c3_popup p b {
    font-weight: normal;
    color: #2E3054;
  }
  .c3_button {
   	cursor: pointer; 
  }



























  
  .prodbtitle
  {
  	font-size: 18px;
    font-weight: bold;
	line-height: 26px;
  }
  
  .recipe_product_banner
  {
    margin-top: 12px;
   display: flex;
      border-radius: 6px;
  	width: 100%;
    height: 160px;
    border: 3px solid  #3AB8F1;
    background: rgb(58, 184, 241, 0.05);
   
  }
  
  .banner_c1
  {
   	width: 50%;
    text-align: left;
  }
   .banner_c2
  {
   	width: 50%;
 
  }
  .prodbtitle
  {
  	margin-top: 46px;
    margin-left: 24px;
  }
  .viewd
  {
  	text-decoration: underline;
    font-size: 12px;
    line-height: 16px;
    margin-left: 24px;
    margin-top: 24px;
  }
  
  
  .page-recipe > .section {
  	max-width: 100%;
  }
  
  .page-recipe > .section .container {
    padding-bottom: 0!important;
  }
  
  .secondpart {
      background: #F7F9FC;
      display: flex;
      width: 100%;
  }
  
  .sp-container {
    width: 100%;
    max-width: 1128px;
    margin: 80px auto;
    display: grid;
    grid-template-columns: 360px 744px;
    grid-column-gap: 24px;
  }
  
  .sp-container .sp-block {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 24px;
    margin-bottom: 24px;
  }
  
  .sp-container .sp-block:last-child {
    margin-bottom: 0px;
  }
  
  .sp-container .sp1c .sp-block {
    padding: 24px 0;
  }
  
  .sp-container .sp-block .sp-title  {
/*     font-family: KlarheitKurrent; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #2E3054;
    margin-bottom: 24px;
  }
  
  .sp-container .sp1c .sp-block .sp-title  {
    padding-left: 24px;
  }
  
  .sp-container .sp-block .sp-in-list, .sp-container .sp-block .sp-ga-list {
  	margin: 0;
    padding: 0;
  }
  
  .sp-container .sp-block .sp-ga-list {
  	padding-left: 24px;
  }
  
  .sp-container .sp-block .sp-in-item, .sp-container .sp-block .sp-ga-item {
    margin-bottom: 16px;
    display: flex;
    padding: 0;
    justify-content: flex-end;
  }
  
  .sp-container .sp-block .sp-ga-item {
  	width: 100%;
    justify-content: flex-start;
    border-bottom: 1px solid #F4F5F9;
    padding-bottom: 17px;
  }
  
  .sp-container .sp-block .sp-in-item:last-child, .sp-container .sp-block .sp-ga-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0px;
    border-bottom: 0px solid #F4F5F9;
  }
  
  .sp-container .sp-block .sp-in-item .sp-in-number {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #77D3AF;
  }
  
  .sp-container .sp-block .sp-ga-item .sp-ga-text, .sp-container .sp-block .sp-in-item .sp-in-text {
/*   	font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7F8F9E;   
  }
  
  .sp-container .sp-block .sp-in-item .sp-in-text {  
    width: 293px;
    margin-left: 12px;
    padding-bottom: 17px;
    border-bottom: 1px solid #F4F5F9;
  }
  
  .sp-container .sp-block .sp-in-item:last-child .sp-in-text {
    padding-bottom: 0;
    border-bottom: 0px solid #F4F5F9;
  }
  
  .sp-step {
  	display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #F4F5F9;
  }
  
  .sp-green {
  	color: #77D3AF;
  }
  
  .sp-step:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0px solid #F4F5F9;
  }
  
  .sp-step h3 {
/*     font-family: KlarheitKurrent; */
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #2E3054;
    margin-bottom: 16px;
  }
  
  .sp-step p {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7F8F9E;
  }
  
  .sp-step .sp-st-img {
    height: 160px;
  }
  
  .sp-step img {
  	width: 264px;
    height: 160px;
    object-fit: cover;
  }
  
  .sp-step .sp-st-text {
  	max-width: 360px;
  }
  
  .sp-tip {
   	display: flex;
    justify-content: flex-start;
    align-content: center;
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #2E3054;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #F4F5F9;
  }
  
  .sp-tip:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px solid #F4F5F9;
  }
  
  .sp-tip svg {
   	margin-right: 16px;
    min-width: 20px;
  }
  
  .what_you_need {
  	display: flex;
    width: 100%;
  }
  
  .wyn-container {
  	max-width: 792px;
    width: 100%;
    margin: 0 auto;
  }
  
  .wyn-title {
    text-align: center;
/*     font-family: KlarheitKurrent; */
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #2E3054;
    margin: 100px 0 80px;
  }
  
  .wyn-block {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(70, 91, 116, 0.1);
    margin-bottom: 120px;
  }
  
  .wyn-image {
    height: 420px;
    width: 384px;
  }
  
  .wyn-image img {
    height: 100%;
    width: 100%;
  }
  
  .wyn-text {
    max-width: 344px;
    margin-left: 32px;
    margin-right: 32px;
  }
  
  .wyn-text a {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2E3054;
    margin-top: 56px;
    margin-bottom: 16px;
    display: block;
  }
  
  .wyn-text p {
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #7F8F9E;
    margin-top: 0px;
    padding-top: 20px;
    margin-bottom: 32px;
    border-top: 1px solid #F4F4F4;
  }
  
  .wyn-text button {
    height: 52px;
    background: #77D3AF;
    border-radius: 6px;
    line-height: 52px;
    width: 100%;
/*     font-family: AvertaCY; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wyn-text button i {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  
  .wyn-text button i svg {
    height: 20px;
  }
  
  .wyn-text .yotpo .standalone-bottomline .star-clickable {
    align-items: center!important;
    margin-bottom: 16px!important;
  }
  
  .wyn-text .yotpo .star-clickable .text-m {
    margin: 0!important;
  }
  
  .add_to_cart-wyn .cls-1 {
    fill: #fff;
  }
  
  .page-recipe .footer {
    	border: 0!important;
  }






  

  
  @media only screen and (max-width: 1109px) {
    {%- comment -%}
  	.recipe_main {
/*      	max-width: 290px;  */
/*       	margin-bottom: 80px; */
    }
    {%- endcomment -%}
    {%- comment -%}
    .recipe_info{
     	width: 100%;
		padding: 0;
    }
    {%- endcomment -%}
    .page-recipe div.content {
      	padding: 16px 0 15px 0;
    }
    {%- comment -%}
    .recipe_image {
        width: auto;
        margin-bottom: 24px;
        /*height: 290px;*/
    }

    .recipe_image img {
        width: 290px;
        /*height: 290px;*/
    }
    {%- endcomment -%}



    {%- comment -%}
    .recipe_subtitle {
/*         font-family: AvertaCY; */
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px; 
    }
    .recipe_title {
    	font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
      	padding-top: 8px;
    }
    .recipe_description {
    	font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
      	padding-top: 12px;
    }
    .recipe_hr {
        margin-top: 20px;
        border-width: 0;
        border-top: 1px solid #F4F4F4;
        margin-bottom: 20px;
    }
/*     .recipe_param {
    	flex-direction: column;
    	gap: 26px;
    } */
    .txt {
        margin-left: 12px;
      	font-size: 14px;
		line-height: 24px;
		border: 4px solid #FFFFFF;
      	margin-top: -14px;
    }
    .recipe_param_item {
        width: 100%;
        border-radius: 6px;
        text-align: left;
/*         padding-left: 24px; */
        font-size: 14px;
        line-height: 20px;
      	padding-top: 14px;
      	margin: 0;
    }
    .power_level_c2 {
    	padding: 0;
        text-align: center;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 20px;
    }
    .c2_popup {
        padding: 20px 16px 24px;
        width: 290px;
        right: 0;
    }
    .c2_popup h3 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .c2_popup h3 svg {
        width: 11px;
    	height: 11px;
    }
    .c2_popup p {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 12px;
    }
    .recipe_power_level {
    	padding: 0;
		justify-content: center;
    }

  .r3 {
    	
    margin-top: 20px !important;
    }
    
    .power_level_c1 .power_level {
    	font-size: 18px;
		line-height: 20px;
    }
   
    .power_level_c1 .power_level_title {
    	font-size: 14px;
      	line-height: 20px;
    }
    .recipe_product_banner {
    	display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: rgba(58, 184, 241, 0.05);
        border: 1px solid #3AB8F1;
        box-sizing: border-box;
        border-radius: 6px;
        margin-top: 16px;
        height: 236px;
    }
    .prodbtitle {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        margin: 0;
        text-align: center;
        margin-bottom: 24px;
    }
    .viewd {
        margin: 0;
        margin-top: 24px;
        text-align: center;
    }
    .banner_c1 {
      	width: 100%;
    }
    .banner_c1 img {
    	width: 240px;
        height: 96px !important;
        margin: 0 auto;
        object-fit: cover;
    }
{%- endcomment -%}











    {%- comment -%}
    .sp-container {
    	max-width: 290px;
		margin: 50px auto;
      	grid-template-columns: 290px;
    }
    .sp-container .sp-block {
    	padding: 20px 16px;
		margin-bottom: 20px;
    }
    .sp-container .sp-ingr {
    	padding-right: 0px;
    }    
    .sp-container .sp-block .sp-in-item, .sp-container .sp-block .sp-ga-item {
    	margin-bottom: 12px;
    }
    .sp-container .sp-block .sp-in-item .sp-in-number {
    	font-weight: 600;
        font-size: 18px;
        line-height: 20px;
    }
    .sp-container .sp-block .sp-in-item .sp-in-text {
        font-size: 12px;
        line-height: 20px;
		padding-bottom: 12px;
      	width: 227px;
    }
    .sp-container .sp-block .sp-title {
    	font-size: 16px;
      	margin-bottom: 20px;
    }
{%- endcomment -%}




    
    .sp-step {
      	flex-direction: column;
    }
    .sp-step h3 {
    	font-size: 16px;
		line-height: 24px;
      	margin-bottom: 12px;
    }
    .sp-step p {
        font-size: 12px;
		line-height: 20px;
      	margin-bottom: 20px;
    }
    .sp-step .sp-st-img, .sp-step img {
        height: 150px;
    }
   	.sp-step {
        padding-bottom: 20px;
        margin-bottom: 20px;
     }
   	.sp-tip {
        padding-bottom: 12px;
        margin-bottom: 12px;
      	line-height: 20px;
     	font-size: 12px;
    }
    .sp-tip svg {
    	margin-right: 12px;
		width: 30px;
    }
    .sp-tip span {
    	width: 226px;
    }








    
    
    .recipe-rec .rec-container {
    	max-width: 770px;
    }
    .recipe-rec {
        padding: 50px 0 96px;
    }
    .recipe-rec .rec-slide-badge {
     	flex-direction: column-reverse; 
    }
    .recipe-rec .rec-title {
        font-size: 20px;
        line-height: 150%;
        text-align: center;
        letter-spacing: -0.02em;
      	margin-bottom: 40px;
    }
    .recipe-rec .rec-slide-img {
    	height: 200px;
    }
    .recipe-rec .rec-slide-desc {
        margin: 0 16px;
    }
    .recipe-rec .rec-slide-desc h4 {
      	margin: 20px 0;
      	font-size: 16px;
		line-height: 24px;
    }
    .recipe-rec .rec-slide-badge {
      	margin-bottom: 20px;
    }
    .swiper-horizontal > .swiper-scrollbar { 
      	width: 320px!important;
      	left: unset !important;
      	bottom: 60px!important;
		margin: 0 !important;
    }
    .recipe-rec .rec-slider .custom-swiper-button-prev, .recipe-rec .rec-slider .custom-swiper-button-next {
      	display: none!important;
    }
  }
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<section class="section">
  
  <a name="pagecontent" id="pagecontent"></a>
  <div class="container content page">
    <div class="recipe_main page-width">
      <div class="recipe_image">
        <img width="100%" src="{{page.metafields.global.recipe_image}}"/>
      </div>
      <div class="recipe_info">
        <div class="recipe_subtitle">
          	Recipes
        </div>
        <div class="recipe_title">
          {{page.title}}
        </div>
        <div class="recipe_description">
          {{page.content}}
        </div>
		
        <hr class="recipe_hr">
        <div class="recipe_param">
         	<div class="recipe_param_item_text">
              <div class="txt">Preparation Time</div>
          		<div class="recipe_param_item recipe_param_item1 ">
         			 {{page.metafields.global.preparation}}
      		     </div>
            </div>
          <div class="recipe_param_item_text">
            <div class="txt txt2">Cook Time</div>
             <div class="recipe_param_item recipe_param_item2">
               {{page.metafields.global.cook}}
            </div>
          </div>
          <div class="recipe_param_item_text">
            <div class="txt">Serving Size</div>
             <div class="recipe_param_item recipe_param_item3">
              {{page.metafields.global.serving}}
            </div>
          </div>
        </div>
        <hr class="recipe_hr">
        <div class="power_level_c2">
          <u class="c2_button hf_wattage" data-block=".hf_wattage_popup"><b>Where is my microwave’s power level?</b></u>
          <div class="c2_popup hf_wattage_popup hide">
            <h3>Check your microwaves owners manual (if you're one of those that keep those things) or look up your model number online and check its wattage.</h3>
            
            <!--<p>If your microwave is <b>1200W</b>, use power <b>level 3</b></p> -->
          </div>
        </div>
        <div class="recipe_power_level">
          <div class="power_level_c1">
            <div class="c2_button pl_button" data-block=".pl_popup">
              <div class="power_level_title">Choose Your Microwave Wattage:</div><div class="power_level">1200W</div>
            </div>
            <div class="c2_popup pl_popup hide">
              <h3>Microwave Wattage:</h3>
              <p class="active" data-percent="0">1200W</p>
              <p data-percent="0.083">1100W</p>
              <p data-percent="0.16">1000W</p>
              <p data-percent="0.25">900W</p>
              <p data-percent="0.3">800W</p>
              <p data-percent="0.416">700W</p>
              <p data-percent="0.5">600W</p>
              <p data-percent="0.583">500W</p>
            </div>
          </div>
      </div>
        <div class="recipe_product_banner">
          <div class="banner_c1">
             {%- assign productb = all_products[page.metafields.global.prodbaner] -%}
            <div class="prodbtitle">   {{productb.title}}</div>
            <img class="mobile-block" style="height: 100%;" src="{{productb.featured_media |img_url: 'master'}}"/>
            <div class="viewd"><a href="{{productb.url}}">View Product Details</a></div>
          </div>
          <div class="banner_c2 desktop">
            <img style="height: 100%;"src="{{productb.featured_media |img_url: 'master'}}"/>
          </div>
        </div>
      </div>
    </div>

 {% section 'tmp_-_recipe-second' %}
 
    {% section 'tmp_-_recipe-wyn' %}
	
    {% section 'tmp_-_recipe-rec' %}
  </div>
</section>

<script>
  
  let pl_button = document.querySelectorAll('.pl_button');
  let hf_wattage = document.querySelectorAll('.hf_wattage');

  var i;
  for (i = 0; i < pl_button.length; i++) {
    pl_button[i].onclick = function(){
      val = this.getAttribute('data-block');
      document.querySelector(val).classList.toggle('hide');
    };   
  } 
  for (i = 0; i < hf_wattage.length; i++) {
    hf_wattage[i].onclick = function(){
      val = this.getAttribute('data-block');
      document.querySelector(val).classList.toggle('hide');
    };   
  } 
  
</script>

<script>
  $(".pl_popup p").click(function() {
    $(".pl_popup p").removeClass("active");
    $(this).addClass("active");
    let mantage = $(this).html();
    let percent = Number($(this).attr("data-percent"));

    $(".power_level").html(mantage);
    let minutes = $(".sp-green[data-base-minutes]");
  
    minutes.each(function(){
      let base = Number($(this).attr("data-base-minutes"));

      let a = base*(1+percent);
      let b = Math.floor(a);

      let check = a - b;

      if (check >= 0.15 && check <= 0.65) {
        b += 0.5
      }
      else if (check >= 0.66) {
        b += 1
      }

      let text = "";

      if (b > 1) {
        text = " minutes";
      }
      else {
        text = " minute";
      }

      $(this).html(convertNumToTime(b)+text);
      
    });

    $(".pl_popup").addClass("hide");
  });

  function convertNumToTime(number) {
    let sign = (number >= 0) ? 1 : -1;
    number = number * sign;
    let hour = Math.floor(number);
    let decpart = number - hour;
    let min = 1 / 60;
    decpart = min * Math.round(decpart / min);
    let minute = Math.floor(decpart * 60) + '';
    if (minute.length < 2)
      minute = '0' + minute;
    sign = sign == 1 ? '' : '-';
    if (minute == '00') {
      time = sign + hour;
    }
    else {
      time = sign + hour + ':' + minute;
    } 
    return time;
  }
</script>